/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  /* overflow: auto;
  max-height: 600px; */
}

.mat-header-cell {
  padding-top: 20px;
  padding-bottom: 14px;
}

.mat-header-row {
  border-bottom-style: hidden;
  background: #2e445c;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.mat-row {
  border-bottom-style: hidden;
  background: rgba(57, 66, 75, 1.0);
  margin-top: 4px;
  opacity: 1.0;
}

.mat-row:hover {
  background: rgba(245, 247, 252, 0.1);
}

.mat-row>.mat-cell {
}
