<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="core_id">
      <mat-header-cell *matHeaderCellDef> Monitoring Point </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.core_id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="validity">
      <mat-header-cell *matHeaderCellDef> Validity </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.validity}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="mode">
      <mat-header-cell *matHeaderCellDef> Mode </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mode}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
