<nb-card>

  <nb-card-header>
    <div class="alarms-table-header">
        <div class="main-container">
          Alarms
        </div>
        <div class="secondary-container">
        </div>
  </div>
  </nb-card-header>
  <nb-card-body>

    <!-- <div class="example-header"> -->
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    <!-- </div> -->

    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>
          <span mat-sort-header> Status </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let alarm"> {{alarm.value}} </mat-cell>
      </ng-container>

      <!-- Monitoring Point Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
          <span mat-sort-header> Alarm Name </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let alarm"> {{alarm.name}} </mat-cell>
      </ng-container>

      <!-- Mode Column -->
      <ng-container matColumnDef="mode">
        <mat-header-cell *matHeaderCellDef>
          <span mat-sort-header> Mode </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let alarm"> {{alarm.mode}} </mat-cell>
      </ng-container>

      <!-- Timestamp Column -->
      <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef>
          <span mat-sort-header> Last Change Time </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let alarm"> {{ alarm.timestamp | date: dateFormat }} </mat-cell>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>
          <span mat-sort-header> Description </span>
        </mat-header-cell>
        <mat-cell *matCellDef="let alarm"> {{alarm.validity}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </nb-card-body>
  <nb-card-footer></nb-card-footer>

</nb-card>
