<mat-card class="login-mat-card mat-elevation-z0">
  <mat-card-header>
    <div class="login-header">
      <span class="title"> IAS ALMA </span>
      <span class="message"> {{message}} </span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="login-form-container">
        <form class="form-group" (ngSubmit)="login()" [formGroup]="formGroup">
            <mat-form-field color="accent" class="form-field" appearance="fill">
                <mat-label>User</mat-label>
                <input matInput name="user" formControlName="user" type="text" placeholder="Enter your username" >
            </mat-form-field>
            <mat-form-field color="accent" class="form-field" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput name="password" formControlName="password" type="password" placeholder="******" >
            </mat-form-field>
            <div class="btn-login-container">
              <button type="submit" id="submit" mat-flat-button color="accent" class="btn-login" flexLayout="row">
                <div flexLayout="row">
                  <span class="hspace">
                  </span>
                  <span fxFlex>
                    Login
                  </span>
                  <mat-spinner [diameter]="30" [class.hidden]="!loggingIn"></mat-spinner>
                </div>
              </button>
            </div>
        </form>
    </div>
  </mat-card-content>
</mat-card>
