<mat-card class="login-mat-card mat-elevation-z0">
  <mat-card-header>
    <div class="login-header">
      <span class="title"> IAS ALMA </span>
      <span class="message"> {{message}} </span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="login-form-container">
        <form class="form-group" (ngSubmit)="login()" [formGroup]="formGroup">
            <div class="form-group">
                <label>User</label>
                <input type="text" class="form-control" id="user" placeholder="Enter your username" formControlName="user">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="password" placeholder="******" formControlName="password">
            </div>
            <div class="btn-login-container">
              <button type="submit" id="submit" class="btn btn-primary btn-login">Login</button>
            </div>
        </form>
    </div>
  </mat-card-content>
</mat-card>
