.weather-sidebar-title {
  background: #2e445c;
  padding: 12px;
}

.weather-sidebar-content {
  background: #2b3b4b;
  padding: 12px;
  height: calc(100vh - 150px) !important;

  .mat-expansion-panel {
    background: #33475a;

      td {
        padding: 5px;
        height: 40px;

      }
      .icon {
        padding-left: 20px;
      }
      .status {
        height: 10px;
        border: 2px solid red;
      }
  }
}
