@mixin weather-sidebar-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .weather-sidebar-title {
    background: rgba(map_get($ias-dark-blue, 800), 0.65);
    // background: mat-color($background, dialog);
  }

  .weather-sidebar-content {
    background: rgba(map_get($ias-dark-blue, 800), 0.65);
    // background: mat-color($background, app-bar);

    .antennas-list-header {

      .copy-antennas-button {
        color: mat-color($accent, 300);
      }
    }

    .antennas-list {
      color: mat-color($foreground, secondary-text);
    }
  }

}
