@mixin weather-sidebar-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $alarms: map-get($theme, alarms);

  .weather-sidebar-card {
    background: map_get($primary, 600);

    .weather-sidebar-title {
      border-bottom-color: mat-color($foreground, divider);
    }

    .weather-sidebar-content {

      .antennas-list-header {

        .copy-antennas-button {
          color: mat-color($accent, 300);
        }
      }

      .antennas-list {
        color: mat-color($foreground, secondary-text);
        border-color: mat-color($foreground, divider);
      }
    }

  }

  .text-affected-green {
  }

  .text-affected-yellow {
    color: mat-color($alarms, set-low);
  }

  .text-affected-red {
    color: mat-color($alarms, set-critical);
  }

  .text-affected-gray {
    color: mat-color($alarms, maintenance);
  }

  .text-affected-blue {
    color: mat-color($alarms, unknown);
  }

  .text-affected-unreliable {
  }

}
