.weather-sidebar-title {
  // background: #2e445c;
  padding: 12px;
}

.weather-sidebar-content {
  // background: #2b3b4b;
  padding: 12px;
  height: calc(100vh - 112px) !important;
  // height: 100%;

  .mat-expansion-panel {
    background: transparent;
    margin: 10px 0px;
    border-radius: 4px;
    box-shadow: none;

      td {
        padding: 5px;
        height: 40px;

        &.station {
          padding-left: 0;
          font-weight: bold;
        }
      }
      .icon {
        padding-left: 20px;
        height: 30px;
        width: fit-content;
        align: right;
      }
      .status {
        padding-left: 20px;
      }
      .buttons {
        width: 100%;
      }
  }

  app-weather-station-sidebar {
    width: 100%;
  }

  .weather-sidebar-header {
    padding-left: 0px;
    position: relative;
    background: transparent;

    &.mat-expanded {
      background: transparent;
    }

    &:hover {
      background: transparent;
    }
  }

  hr {
    border-top: 2px solid #33475a;
  }

  .antennas-list-line {
    margin-bottom: 0.2rem;
  }

  .antennas-list-header {
    height: 37.27px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;

    .antennas-title {
      line-height: 40px;
      font-weight: bold;
    }

    .copy-antennas-button {
      border: 0;
      color: #4ac8ff;
      cursor: pointer;
      padding-left: 0;
      padding-right: 0;
      outline: none;
      background-color: unset !important;
      min-width: unset !important;
      box-shadow: none !important;
    }
  }

  .antennas-list {
    margin-top: 10px;
    color: #8e9296;
  }

}
