<div class="weather-sidebar-title">
  WEATHER STATIONS
</div>

<div class="weather-sidebar-content">
  <mat-accordion *ngFor="let alarm of this.alarmsIds">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{alarm.station}}
        </mat-panel-title>
        <mat-panel-description>
          Three alarm Icons
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table>
        <tr>
          <td>{{alarm.station}}</td>
          <td><app-status-view [alarm]="this.alarms[alarm.station]" [value]="this.alarms[alarm.station].status"></app-status-view></td>
          <td> Button actions components </td>
        </tr>
        <tr>
          <td><app-alarm [alarm]="this.getAlarm(alarm.windspeed)" [images]="windsImageSet" [imagesUnreliable]="windsImageUnreliableSet"></app-alarm></td>
          <td><app-status-view [alarm]="this.getAlarm(alarm.windspeed)" [value]="this.getAlarm(alarm.windspeed).value" ></app-status-view></td>
          <td> Button actions components </td>
        </tr>
        <tr>
          <td><app-alarm [alarm]="this.getAlarm(alarm.humidity)" [images]="humidityImageSet" [imagesUnreliable]="humidityImageUnreliableSet"></app-alarm></td>
          <td><app-status-view [alarm]="this.getAlarm(alarm.humidity)" [value]="this.getAlarm(alarm.humidity).value" ></app-status-view></td>
          <td> Button actions components </td>
        </tr>
        <tr>
          <td><app-alarm [alarm]="this.getAlarm(alarm.temperature)" [images]="tempImageSet" [imagesUnreliable]="tempImageUnreliableSet"></app-alarm></td>
          <td><app-status-view [alarm]="this.getAlarm(alarm.temperature)" [value]="this.getAlarm(alarm.temperature).value" ></app-status-view></td>
          <td> Button actions components </td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
