.component-action {

  &.component-header {
    padding: 14px 0px;

    .component-title {
      display: inline;
    }

  }

  &.component-body {
    font-size: 14px;

    .section {
      padding: 24px 0px 10px 0px;

      .section-title {
        font-weight: bold;
        padding-bottom: 16px;
      }

      &.alarm-info {
        table {
          vertical-align: top;
        }

        th {
          padding-right: 16px;
          font-weight: normal;
        }

      }

      &.ack-action {

        textarea {
          min-height: 150px;
        }

        .action-info {
          font-size: 14px;
        }

        .message-form-field {
          width: 100%;
        }

      }

    }

  }

  &.component-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 14px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    // Fix this properly, in order to make the body scrollable
    padding-bottom: 24px;

    button {
      margin: 0px 10px 0px 10px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 1.15rem;
  }

  .info-message {
    padding-top: 10px;
  }

}
