<div class="component-action-card">
  <div class="component-action component-header">
    <div class="component-title"> ALARM ACKNOWLEDGEMENT </div>
    <button type="button" class="close" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="component-action component-body">
    <form class="form-group" [formGroup]="form">

      <div class="section alarm-info">
        <table>
          <tr>
            <th>Alarm ID</th>
            <td>{{alarm?.core_id}}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ alarm?.description }}</td>
          </tr>
        </table>
      </div>

      <div *ngIf="requestStatus === 0; then actionProcess else responseMessage"> </div>

      <ng-template #actionProcess>
        <div class="section ack-action">
          <div class="section-title">Information required to acknowledge the Alarm</div>
          <mat-form-field class="user-form-field">
            <mat-select [(value)]="user_selected" formControlName="user" placeholder="Select a User">
              <mat-option *ngFor="let user of userService.users" [value]="user.username">
                {{user.username}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="user.invalid"> You must specify an user in order to Acknowledge </mat-error>
          </mat-form-field>
          <mat-form-field color="accent" class="message-form-field" appearance="fill">
            <mat-label> Action to be taken </mat-label>
            <textarea matInput name="message" formControlName="message" placeholder="Please write here the action to be taken"></textarea>
            <mat-error *ngIf="message.invalid"> You must write a message in order to Acknowledge </mat-error>
          </mat-form-field>
        </div>

        <div class="section ack-tree">
          <div class="section-title"> Select alarms for acknowledgment </div>
          <app-ack-tree [selectedAlarm]="alarm" (alarmsToAckFromSelection)="updateAlarmsToAck($event)"></app-ack-tree>
        </div>

        <div *ngIf="missedAcks.length > 0" class="section missed-acks">
          <div class="section-title"> Missed acknowledgements </div>
          <ul>
            <li *ngFor="let text of missedAcks">
              {{text}}
            </li>
          </ul>
        </div>
      </ng-template>

      <ng-template #responseMessage>
        <div [ngClass]="{
          'section ack-action': true,
          'action-error': requestStatus === -1,
          'action-warning': requestStatus === -2
        }">
          <div class="section-title"> {{ getResponseMessageTitle() }} </div>
          <div> {{ getResponseMessageText() }} </div>

          <div *ngIf="requestStatus === 1; then AckAlarmsList"> </div>
            <ng-template #AckAlarmsList>
              <ul>
                <li *ngFor="let alarm of acknowledgedAlarms">
                  {{ alarm }}
                </li>
              </ul>
            </ng-template>
          </div>
      </ng-template>

    </form>
  </div>

  <div class="component-action component-footer">
    <div *ngIf="requestStatus !== 0; then responseButtons else actionButtons"> </div>
    <ng-template #responseButtons>
      <button id="close" mat-flat-button color="primary" (click)="onClose()">Close</button>
    </ng-template>

    <ng-template #actionButtons>
      <button id="cancel" mat-flat-button color="primary" (click)="onClose()">Cancel</button>
      <button id="acknowledge" mat-flat-button color="accent"
              (click)="acknowledge()"
              [disabled]="disableAcknowledgment()">Acknowledge</button>
    </ng-template>
  </div>
</div>

<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0)"
  size = "large"
  color = "#fff"
  type = "ball-clip-rotate"
></ngx-spinner>
