.legend {
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  width: 100%;
}

.legend-icon {
  display: inline-block;
  margin-right: 6px;
  text-align: center;
  width: 18px;
  font-weight: bold;
}

.legend-priority {
  display: inline-block;
  margin-right: 6px;
  text-align: center;
  width: 24px;
  font-weight: bold;
}
