/* .alarm-status-legend {
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  width: 100%;
}

.alarm-status-legend .group {
  display: inline-block;
}

.alarm-status-legend .group .item {
  display: inline-block;
  color: #f2f2f2;
  padding-right: 24px;
  padding-bottom: 20px;
}

.alarm-status-legend .group .item .status {
  display: inline-block;
  margin-right: 6px;
  text-align: center;
  width: 18px;
  font-weight: bold;
}

.alarm-status-legend .group .item .priority {
  display: inline-block;
  margin-right: 6px;
  text-align: center;
  width: 28px;
  font-weight: bold;
}

.alarm-status-legend .group .item .title {
  display: inline-block;
  margin-right: 6px;
  text-align: center;
  font-weight: bold;
} */

/* .alarm-status-legend .group .item .status {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
} */

.legend-item {
  border: 2px solid red;
  /* padding-right: 24px;
  padding-bottom: 20px; */
}

.legend-icon {
  display: inline-block;
  margin-right: 6px;
  text-align: center;
  width: 18px;
  font-weight: bold;
  border: 2px solid blue;
}
