<div fxLayout="row wrap" fxLayoutGap="20px" class="legend">
    <div fxFlex="nogrow" class="legend-title">LEGEND</div>

    <div fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="space-between" fxLayoutGap="20px" fxFlex="1 1 auto">
      <div fxLayout="row" fxLayout.xs="row wrap" fxLayoutAlign="space-between" fxLayoutGap="20px" fxFlex="0 1 85em">

        <div fxLayout="row wrap" fxLayoutGap="20px">

          <div fxLayout="row wrap" fxLayoutGap="20px">
            <div fxLayout="row">
              <span class="legend-icon"><img src="{{ clear_valid }}"/></span> Clear Valid
            </div>
            <div fxLayout="row">
              <span class="legend-icon"><img src="{{ clear_invalid }}"/></span> Clear Invalid
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutGap="20px">
            <div fxLayout="row">
              <span class="legend-icon"><img src="{{ set_valid }}"/></span> Set Valid
            </div>
            <div fxLayout="row">
              <span class="legend-icon"><img src="{{ set_invalid }}"/></span> Set Invalid
            </div>
          </div>

        </div>

        <div fxLayout="row wrap" fxLayoutGap="20px">
          <div fxLayout="row">
            <span class="legend-icon"><img src="{{ maintenance }}"/></span> Maintenance
          </div>
          <div fxLayout="row">
            <span class="legend-icon"><img src="{{ unknown }}"/></span> Unknown
          </div>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="20px">

          <div fxLayout="row wrap" fxLayoutGap="20px">
            <div fxLayout="row">
              <span class="legend-priority"><img src="{{ priority_1 }}"/></span> Low
            </div>
            <div fxLayout="row">
              <span class="legend-priority"><img src="{{ priority_2 }}"/></span> Medium
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutGap="20px">
            <div fxLayout="row">
              <span class="legend-priority"><img src="{{ priority_3 }}"/></span> High
            </div>
            <div fxLayout="row">
              <span class="legend-priority"><img src="{{ priority_4 }}"/></span> Critical
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
