<div class="alarm-status-legend">

  <div class="row">

    <div class="col-md-5">
      <div class="group">
        <span class="item">
          <span class="title">LEGEND</span>
        </span>
      </div>
      <div class="group">
        <span class="item">
          <span class="status"><img class="marker-img" src="{{ clear_valid }}"/></span> Clear Valid
        </span>
        <span class="item">
          <span class="status"><img class="marker-img" src="{{ clear_invalid }}"/></span> Clear Invalid
        </span>
        <span class="item">
          <span class="status"><img class="marker-img" src="{{ set_valid }}"/></span> Set Valid
        </span>
        <span class="item">
          <span class="status"><img class="marker-img" src="{{ set_invalid }}"/></span> Set Invalid
        </span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="group">
        <span class="item">
          <span class="status"><img class="marker-img" src="{{ clear_valid }}"/></span> Maintenance
        </span>
        <span class="item">
          <span class="status"><img class="marker-img" src="{{ clear_valid }}"/></span> Unknown
        </span>
      </div>
    </div>

    <div class="col-md-4">
      <div class="group">
        <span class="item">
          <span class="priority"><img class="marker-img" src="{{ priority_4 }}"/></span> Critical
        </span>
        <span class="item">
          <span class="priority"><img class="marker-img" src="{{ priority_3 }}"/></span> High
        </span>
        <span class="item">
          <span class="priority"><img class="marker-img" src="{{ priority_2 }}"/></span> Medium
        </span>
        <span class="item">
          <span class="priority"><img class="marker-img" src="{{ priority_1 }}"/></span> Low
        </span>
      </div>
    </div>

  </div>

</div>
