<div class="modal-action modal-header">
  <h4 class="modal-title">{{alarm?.core_id}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form class="form-group" [formGroup]="form">
  <div class="modal-action modal-body">
    <div class="section alarm-info">
      <p>{{ getAlarmDescription() }} </p>
      <p>
        <a class="alarmUrl" target="_blank" href="{{ getAlarmUrl() }}">
           <span class="alarmLink">Go to wiki</span>&nbsp;<i class="ion-md-open"></i>
        </a>
      </p>
    </div>
    <div class="section ack-action">
      <span class="title"> Action from the operator </span>
      <textarea name="message" class="form-control" formControlName="message" placeholder="Write a message to explain the action to be taken"></textarea>
      <div class="action-info">
        * The acknowledge button will be enabled after writing the message and the selection of the related alarms
      </div>
    </div>
    <div class="section ack-tree">
      <span class="title"> Select alarms for acknowledgment </span>
      <app-ack-tree [selectedAlarm]="alarm" (alarmsToAckFromSelection)="updateAlarmsToAck($event)"></app-ack-tree>
    </div>
    <div *ngIf="missedAcks.length > 0" class="section missed-acks">
      <span class="title"> Missed acknowledgments </span>
      <ul>
        <li *ngFor="let text of missedAcks">
          {{text}}
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-action modal-footer">
    <button id="cancel" type="button" class="btn btn-action btn-secondary" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
    <button id="acknowledge" type="button" class="btn btn-action btn-info"
            (click)="acknowledge()"
            [disabled]="disableAcknowledgment()">Acknowledge</button>
  </div>
</form>

<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0)"
  size = "large"
  color = "#fff"
  type = "ball-clip-rotate"
></ngx-spinner>
