<div class="modal-header">
  <h4 class="modal-title">Alarm Acknowledgement</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Alarm Details: {{alarm?.core_id}}</p>
  <form action="">
    <input type="text" name="message" height="500px" placeholder="Write a message to explain the action taken">
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Send</button>
</div>
