<div class="ias content" (click)="redirect()">
  <div class="ias sensors">
    <div class="row no-vertical-margin">
      <div class="sensors-card-wrapper">
          <div class="sensors-card global-antennas-status no-border">
              <div class="title">STATUS</div>
              <div class="icon">
                <app-alarm
                  [alarm]="alarm" [images]="iconSet" [imagesUnreliable]="iconUnreliableSet" [size]="'lg'"
                ></app-alarm>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
