<div [ngClass]="this.getClass()" fxLayout="row">
  <ng-container *ngIf="isTextAlarm(); then textAlarm; else iconAlarm"> </ng-container>

  <ng-template #textAlarm>
    <div [ngClass]="this.getTextClass()">
      {{this.text}}
    </div>
  </ng-template>

  <ng-template #iconAlarm>
    <div class="icon">
      <img class="alarm-icon" src="{{ getImage() }}"/>
    </div>
  </ng-template>

  <div class="badges" [ngClass]="{'hidden': !showActionBadges}" fxLayout="column" fxLayoutAlign="space-between">
    <div *ngIf="showAsPendingAck(); then ackOn else ackOff"></div>
    <ng-template #ackOn>
      <img class="badge-icon ack-icon" src="/assets/img/ack-on.svg"/>
    </ng-template>
    <ng-template #ackOff>
      <img class="badge-icon ack-icon badge-off" src="/assets/img/ack-on.svg"/>
    </ng-template>

    <div *ngIf="showAsShelved(); then shelvedOn else shelvedOff"></div>
    <ng-template #shelvedOn>
      <img class="badge-icon shelve-icon" src="/assets/img/unshelve.svg"/>
    </ng-template>
    <ng-template #shelvedOff>
      <img class="badge-icon shelve-icon badge-off" src="/assets/img/shelve.svg"/>
    </ng-template>
  </div>

</div>
