<div class="alarm-component-box">
  <div class="alarm-component">
    <img class="alarm-icon" src="{{ getImage() }}"/>

    <div class="badges" *ngIf="showActionBadges">
    <!-- <div class="badges"> -->

      <div *ngIf="showAsPendingAck(); then ackOn else ackOff"></div>
      <ng-template #ackOn>
        <img class="badge-icon ack-icon" src="/assets/img/ack-on.svg"/>
      </ng-template>
      <ng-template #ackOff>
        <img class="badge-icon ack-icon" src="/assets/img/ack-off.svg"/>
      </ng-template>

      <div *ngIf="showAsShelved(); then shelvedOn else shelvedOff"></div>
      <ng-template #shelvedOn>
        <img class="badge-icon shelve-icon" src="/assets/img/unshelve.svg"/>
      </ng-template>
      <ng-template #shelvedOff>
        <img class="badge-icon shelve-icon" src="/assets/img/shelve.svg"/>
      </ng-template>

    </div>
  </div>
</div>
