.alarm-component-box{
  height: 100%;
}

.alarm-component{
  height: 100%;
  min-width: fit-content;
  position: relative;
}

.alarm-icon{
  height: 100%;
}

.badges{

  .badge-icon{
    position: absolute;
    height: 30%;
    left: 100%;
  }

  .ack-icon{
    top: 6%;
  }

  .shelve-icon{
    bottom: 6%;
  }

  .badge-off{
    opacity: 0.08;
  }
}
