<div class=alarm-tooltip>
  <table>
    <tr>
      <th>Alarm ID</th>
      <td>{{alarm?.core_id}}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ alarm?.description }}</td>
    </tr>
    <tr>
      <th>Last Change</th>
      <td>{{ alarm?.timestamp | date: dateFormat: timezone }}</td>
    </tr>
  </table>
  <div class=props-container *ngIf="this.alarm?.hasProperties()">
    <div class=props-container-title>
      Last Properties
    </div>
    <app-props-table [alarm]="this.alarm"></app-props-table>
  </div>
</div>
