<div class=alarm-tooltip>
  <table>
    <tr>
      <th>Alarm ID</th>
      <td>{{alarm?.core_id}}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ alarm?.description }}</td>
    </tr>
    <tr>
      <th>Last Change</th>
      <td>{{ alarm?.timestamp | date: dateFormat: timezone }}</td>
    </tr>
    <!-- <tr *ngIf="alarm?.formattedProperties !== ''">
      <th>Last Properties</th>
      <td class="props-container">{{ alarm?.formattedProperties }}</td>
    </tr> -->
  </table>
  <div class=props-container *ngIf="this.alarm?.hasProperties()">
    Last Properties:
    <app-props-table [alarm]="this.alarm"></app-props-table>
  </div>
</div>
