@mixin alarm-card-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $alarms: map-get($theme, alarms);

  .alarm-card-green {
    border-color: transparent;
    background: transparent;
    &.alarm-card-unreliable {
      border-color: #00A090;
    }
  }

  .alarm-card-yellow {
    border-color: mat-color($alarms, set-low-card);
    background: mat-color($alarms, set-low-card);
    color: mat-color($alarms, set-card-dark-text);
    &.alarm-card-unreliable {
      color: mat-color($foreground, text);
    }
  }

  .alarm-card-red {
    border-color: mat-color($alarms, set-critical-card);
    background: mat-color($alarms, set-critical-card);
  }

  .alarm-card-gray {
    border-color: mat-color($alarms, maintenance-card);
    background: mat-color($alarms, maintenance-card);
    color: mat-color($alarms, set-card-dark-text);
    &.alarm-card-unreliable {
      color: mat-color($foreground, text);
    }
  }

  .alarm-card-blue {
    border-color: mat-color($alarms, unknown-card);
    background: mat-color($alarms, unknown-card);
  }

  .alarm-card-unreliable {
    background: transparent;
  }

}
