<nb-card>

  <nb-card-header>
    <div class="alarms-table-header">
        <div class="main-container">
          Alarms
        </div>
        <div class="secondary-container">
        </div>
  </div>
  </nb-card-header>
  <nb-card-body>

    <div class="alarm-status-legend">

      <div class="group">
        <span class="item">
          <span class="status" style="color:white;background:red;"> &#9650; </span> set-valid
        </span>
        <span class="item">
          <span class="status" style="color:white;background:#95ff95;"> &nbsp; </span> clear-valid
        </span>
      </div>

      <div class="group">
        <span class="item">
          <span class="status" style="color:white;background:none;border:2px solid red;"> &#9650; </span> set-invalid
        </span>
        <span class="item">
          <span class="status" style="color:white;background:none;border:2px solid #95ff95;"> &nbsp; </span> clear-invalid
        </span>
      </div>

      <div class="group">
        <span class="item">
          <span class="status" style="color:white;background:#73adf0;"> &#9650; </span> set-valid-unknown
        </span>
        <span class="item">
          <span class="status" style="color:white;background:#73adf0;"> &nbsp; </span> clear-valid-unknown
        </span>
        <span class="item">
          <span class="status" style="color:white;background:none;border:2px solid #73adf0;"> &#9650; </span> set-invalid-unknown
        </span>
        <span class="item">
          <span class="status" style="color:white;background:none;border:2px solid #73adf0;"> &nbsp; </span> clear-invalid-unknown
        </span>
      </div>

      <div class="group">
        <span class="item">
          <span class="status" style="color:white;background:#9b9797;"> &#9650; </span> set-valid-maintenance
        </span>
        <span class="item">
          <span class="status" style="color:white;background:#9b9797;"> &nbsp; </span> clear-valid-maintenance
        </span>
        <span class="item">
          <span class="status" style="color:white;background:none;border:2px solid #9b9797;"> &#9650; </span> set-invalid-maintenance
        </span>
        <span class="item">
          <span class="status" style="color:white;background:none;border:2px solid #9b9797;"> &nbsp; </span> clear-invalid-maintenance
        </span>
      </div>

    </div>

    <div>

      <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>

    </div>

  </nb-card-body>
  <nb-card-footer></nb-card-footer>

</nb-card>
