<nb-card>

  <nb-card-header>
    <div class="alarms-table-header">
        <div class="main-container">
          Alarms
        </div>
        <div class="secondary-container">
        </div>
  </div>
  </nb-card-header>
  <nb-card-body>

    <div class="alarm-status-legend">

      <div class="group">
        <span class="item">
          <span class="status"><app-status-view value='set-valid-operational-ack'></app-status-view></span> set-valid
        </span>
        <span class="item">
          <span class="status"><app-status-view value='clear-valid-operational-ack'></app-status-view></span> clear-valid
        </span>
      </div>

      <div class="group">
        <span class="item">
        <span class="status"><app-status-view value='set-invalid-operational-ack'></app-status-view></span> set-invalid
        </span>
        <span class="item">
          <span class="status"><app-status-view value='clear-invalid-operational-ack'></app-status-view></span> clear-invalid
        </span>
      </div>

      <div class="group">
        <span class="item">
        <span class="status"><app-status-view value='set-valid-unknown-ack'></app-status-view></span> set-valid-unknown
        </span>
        <span class="item">
        <span class="status"><app-status-view value='clear-valid-unknown-ack'></app-status-view></span> clear-valid-unknown
        </span>
        <span class="item">
        <span class="status"><app-status-view value='set-invalid-unknown-ack'></app-status-view></span> set-invalid-unknown
        </span>
        <span class="item">
        <span class="status"><app-status-view value='clear-invalid-unknown-ack'></app-status-view></span> clear-invalid-unknown
        </span>
      </div>

      <div class="group">
        <span class="item">
        <span class="status"><app-status-view value='set-valid-maintenance-ack'></app-status-view></span> set-valid-maintenance
        </span>
        <span class="item">
        <span class="status"><app-status-view value='clear-valid-maintenance-ack'></app-status-view></span> clear-valid-maintenance
        </span>
        <span class="item">
        <span class="status"><app-status-view value='set-invalid-maintenance-ack'></app-status-view></span> set-invalid-maintenance
        </span>
        <span class="item">
        <span class="status"><app-status-view value='clear-invalid-maintenance-ack'></app-status-view></span> clear-invalid-maintenance
        </span>
      </div>

    </div>

    <div>
      <ng2-smart-table [settings]="settings" [source]="data" (userRowSelect)="onUserRowClick($event)"></ng2-smart-table>
    </div>

  </nb-card-body>
  <nb-card-footer></nb-card-footer>

</nb-card>
