/deep/ {

  table{
    text-align: center;
    width: 100%;
    border-collapse: separate !important;
    border-spacing: 0px 4px !important;
    tbody tr {
      td{
        background-color: #39424b;
        padding: 10px;
        padding-top: 8px;
      }
    }
    tbody tr:hover{
      td{
        background-color: #3d4751;
      }
    }
  }

  .form-control {
    border: 2px solid #818b98 !important;
  }

}
