@mixin antennas-map-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $map_stroke: mat-color($foreground, map-stroke);
  $selected_pad: mat-color($foreground, text);
  $map_background: mat-color($background, background);
  $marker_stroke: mat-color($background, dialog);
  $selected_marker_stroke: mat-color($foreground, secondary-text);

  svg path.antennas-map-paths {
    stroke: $map_stroke;
  }

  svg circle.antennas-map-pads {
    stroke: $map_stroke;
    fill: $map_background;
  }

  svg .antennas-map-compass-rose {
    display: flex;
    height: 52px;
  }

}
