<app-map
  [mapConfig]="this.mapConfig"
  [mapdataAvailable]="this.mapdataAvailable.value"
>

   <ng-container data="svg-elements">

     <svg:path *ngFor="let path of svgPaths"
       [attr.d]="path"
       stroke="#636b74"
       stroke-width="3"
       fill="none"
     />

     <svg:circle *ngFor="let p of placemarks['pads']"
       [attr.cx]="p.opt_cx"
       [attr.cy]="p.opt_cy"
       [attr.data]="p.name"
       r="5"
       stroke="#636b74"
       stroke-width="3"
       fill="#212d3a"
     />

   </ng-container>

</app-map>
