<app-map
  [mapConfig]="this.mapConfig"
  [mapdataAvailable]="this.mapdataAvailable.value"
>

   <ng-container data="svg-elements">

     <svg:g>
       <foreignObject
            [attr.x]="this.compassLocation[0]"
            [attr.y]="this.compassLocation[1]"
            width="100"
            height="100">
            <xhtml:div class="antennas-map-compass-rose">
             <img src="/assets/img/compass_rose.svg"/>
            </xhtml:div>
       </foreignObject>
     </svg:g>

     <svg:path class="antennas-map-paths" *ngFor="let path of svgPaths"
       [attr.d]="path"
       stroke="currentColor"
       stroke-width="3"
       fill="none"
     />

     <svg:circle class="antennas-map-pads" *ngFor="let p of mapPlacemarks['pads']"
       [attr.cx]="p.opt_cx"
       [attr.cy]="p.opt_cy"
       [attr.data]="p.name"
       r="5"
       stroke="currentColor"
       stroke-width="3"
       fill="#212d3a"
     />

     <ng-container *ngFor="let p of mapPlacemarks['buildings']">
         <svg:foreignObject *ngIf="p.name === 'AOS'"
              [attr.x]="p.opt_cx-18"
              [attr.y]="p.opt_cy-14"
              width="100"
              height="100">
              <xhtml:div class="antennas-map-aos-marker-container">
                 <img src="/assets/img/aos.svg"/>
              </xhtml:div>
         </svg:foreignObject>
     </ng-container>

     <ng-container *ngFor="let antennasGroup of getAntennaGroups()">
       <ng-container *ngFor="let antennaConfig of alarmsConfig[antennasGroup]">
         <ng-container *ngIf="existsPlacemarkData(antennaConfig.placemark)">

           <ng-container *ngFor="let p of [getPlacemarkObject(antennaConfig.placemark)]">

             <svg:g
               (click)="onClick(antennaConfig)"
               [ngClass]="getOpacityClass(antennaConfig)"
             >
               <svg:foreignObject
                [attr.x]="p.opt_cx-25"
                [attr.y]="p.opt_cy-25"
                width="50"
                height="50">
                <xhtml:app-antenna-marker
                   [placemark]="p"
                   [alarm]="getAlarm(antennaConfig.alarm)"
                   [viewbox]="'0 0 50 50'"
                   [cx]=25
                   [cy]=25
                   [r]=5
                >
                </xhtml:app-antenna-marker>
              </svg:foreignObject>
            </svg:g>

          </ng-container>

         </ng-container>

       </ng-container>
     </ng-container>



   </ng-container>

</app-map>
