<app-map
  [mapConfig]="this.mapConfig"
  [mapdataAvailable]="this.mapdataAvailable.value"
>

   <ng-container data="svg-elements">

     <svg:path class="paths" *ngFor="let path of svgPaths"
       [attr.d]="path"
       stroke="#636b74"
       stroke-width="3"
       fill="none"
     />

     <svg:circle class="pads" *ngFor="let p of placemarks['pads']"
       [attr.cx]="p.opt_cx"
       [attr.cy]="p.opt_cy"
       [attr.data]="p.name"
       r="5"
       stroke="#636b74"
       stroke-width="3"
       fill="#212d3a"
     />

     <!--- for debugging - start -->
     <ng-container *ngFor="let p of placemarks['pads']">
       <svg:text
         [attr.x]="p.opt_cx"
         [attr.y]="p.opt_cy"
         fill="white"
         fill-opacity="0.4"
       > {{ p.name }} </text>
     </ng-container>
     <!-- for debugging - end -->

     <ng-container *ngFor="let p of placemarks['pads']">
       <ng-container *ngIf="existsAlarmForPlacemark(p)">
         <svg:g (click)="onClick(p)">
           <svg:foreignObject
            [attr.x]="p.opt_cx-25"
            [attr.y]="p.opt_cy-25"
            width="50"
            height="50">
            <xhtml:app-antenna-marker
               [placemark]="p"
               [alarm]="getAlarmForPlacemark(p)"
               [viewbox]="'0 0 50 50'"
               [cx]=25
               [cy]=25
               [r]=5
            >
            </xhtml:app-antenna-marker>
          </svg:foreignObject>
        </svg:g>
       </ng-container>
     </ng-container>


   </ng-container>

</app-map>
