// import Nebular Theme System and the default theme
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

// and change some variables inside of the map
$nb-themes: nb-register-theme((

    font-size-header: 1.4rem,

    color-bg: #2e445c,  // background for sidebar and top navbar
    color-bg-active: #40dc7e,
    color-fg: #a4abb3,
    color-fg-heading: #ffffff,
    color-fg-text: #ffffff,
    color-fg-highlight: #4ac8ff,

    shadow: none,

    header-font-size: font-size-header,

    menu-active-fg: white,
    menu-item-separator: none,

    menu-icon-active-color: #4ac8ff,
    menu-icon-color: rgba(74, 200, 250, 0.5),

    layout-bg: #282e38,

), alma, default); // let's leave it as default
