@import '~@angular/material/theming';

@include mat-core();

$ias-surface: (
  100: #52677E,
  600: #334151,
  800: rgba(43, 59, 75, 0.69),
  900: #212D3A,
  contrast: (
    100: white,
    600: white,
    800: white,
    900: white,
  )
);

$ias-dark-blue: (
  50:  #E5EFFF,
  100: #C5D8ED,
  200: #A8BCD5,
  300: #89A1BE,
  400: #728CAC,
  500: #5A799B,
  600: #4C6A89,
  700: #3D5772,
  800: #2E445C,
  900: #1B3044,
  A100: #E5EFFF,
  A400: #2E445C,
  A700: #2E445C,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(0, 0, 0, 0.6),
    A400: #FAFAFA,
    A700: rgba(255, 255, 255, 0.6),
  )
);

$ias-blue: (
  50:  #E1F6FF,
  100: #B3E7FF,
  200: #80D8FF,
  300: #4AC8FF,
  400: #17BCFF,
  500: #00AFFF,
  600: #00A1EF,
  700: #008EDB,
  800: #007CC7,
  900: #005CA4,
  A100: #E1F6FF,
  A400: #4AC8FF,
  A700: #005CA4,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(0, 0, 0, 0.6),
    A400: #212D3A,
    A700: rgba(255, 255, 255, 0.6),
  )
);

// custom background and foreground palettes
$ias-dark-theme-background: (
  status-bar: green,
  app-bar:    map_get($ias-surface, 600),
  background: map_get($ias-surface, 900),
  hover:      rgba(white, 0.04),
  card:       map_get($mat-blue, 800),
  dialog:     map_get($ias-dark-blue, 800),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 800),
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
);

$ias-dark-theme-foreground: (
  base:              white,
  divider:           $white-12-opacity,
  dividers:          $white-12-opacity,
  disabled:          rgba(white, 0.3),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     rgba(white, 0.3),
  hint-text:         rgba(white, 0.3),
  // hint-text:         rgba(white, 0.3),
  secondary-text:    rgba(white, 0.7),
  icon:              white,
  icons:             white,
  text:              white,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

// instead of creating a theme with mat-light-theme like a sane person, we will create our own theme-creating function that lets us apply our own foreground and background palettes.
@function create-ias-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: true,
    foreground: $ias-dark-theme-foreground,
    background: $ias-dark-theme-background,
  );
}

// $ias-app-primary: mat-palette($mat-grey, 50);
$ias-app-primary: mat-palette($ias-dark-blue, 800, 100, 900);
$ias-app-accent: mat-palette($ias-blue, A400, A100, A700);
$ias-app-warn: mat-palette($mat-red);

$ias-app-theme: create-ias-theme($ias-app-primary, $ias-app-accent, $ias-app-warn);

$ias-app-typography: mat-typography-config(
  $font-family: 'Arial, Helvetica, sans-serif'
);

@include angular-material-theme($ias-app-theme);
@include mat-core($ias-app-typography);


button:focus {
  outline: none;
}
