<mat-sidenav-container autosize>

  <mat-sidenav-content id="antennas-map" autosize>
    <app-antennas-map
      (clickedAntennaMarker)="updateSelectedAntenna($event)"
      [selectedAntenna]=this.selectedAntenna>
    </app-antennas-map>
  </mat-sidenav-content>

  <mat-sidenav #antennasSidenav id="antennas-sidenav" position="end" mode="side" opened="true">
    <app-antennas-sidebar
      (antennaClicked)="updateSelectedAntenna($event)"
      [selectedAntenna]=this.selectedAntenna>
    </app-antennas-sidebar>
  </mat-sidenav>

</mat-sidenav-container>
