<mat-sidenav-container autosize>

  <mat-sidenav-content id="antennas-map" autosize>
    <app-antennas-map (innerSelectedPlacemark)="updateSelectedPlacemark($event)"></app-antennas-map>
  </mat-sidenav-content>

  <mat-sidenav #antennasSidenav id="antennas-sidenav" position="end" mode="side" opened="true">
    <div style="border: 1px solid red;"> Selected: {{ selectedPlacemark }} </div>
    <app-antennas-sidebar></app-antennas-sidebar>
    <!-- <app-antennas-sidebar (panelClicked)="changeSelectedStation($event)" [selectedStation]="selectedStation"></app-antennas-sidebar> -->
  </mat-sidenav>

</mat-sidenav-container>
