<div class="alarm-status-legend">

  <div class="row">

    <div class="col-md-7">

      <div class="group">
        <span class="item">
          <span class="status"><app-status-view value='set-reliable-operational-ack'></app-status-view></span> set reliable
        </span>
        <span class="item">
          <span class="status"><app-status-view value='set-unreliable-operational-ack'></app-status-view></span> set unreliable
        </span>
      </div>

      <div class="group">
        <span class="item">
          <span class="status"><app-status-view value='cleared-reliable-operational-ack'></app-status-view></span> cleared reliable
        </span>
        <span class="item">
          <span class="status"><app-status-view value='cleared-unreliable-operational-ack'></app-status-view></span> cleared unreliable
        </span>
      </div>

    </div>
    <div class="col-md-5">

      <div class="group">
        <span class="item">
          <span class="status"><app-status-view value='cleared-reliable-unknown-ack'></app-status-view></span> unknown mode
        </span>
        <span class="item">
          <span class="status"><app-status-view value='cleared-reliable-maintenance-ack'></app-status-view></span> maintenance -or- shutteddown mode
        </span>
      </div>

    </div>

  </div>

</div>
