<div class="alarm-status-legend">

  <div class="group">
    <span class="item">
      <span class="status"><app-status-view value='set-reliable-operational-ack'></app-status-view></span> Set Reliable
    </span>
    <span class="item">
      <span class="status"><app-status-view value='cleared-reliable-operational-ack'></app-status-view></span> Cleared Reliable
    </span>
  </div>

  <div class="group">
    <span class="item">
    <span class="status"><app-status-view value='set-unreliable-operational-ack'></app-status-view></span> Set Unreliable
    </span>
    <span class="item">
      <span class="status"><app-status-view value='cleared-unreliable-operational-ack'></app-status-view></span> Cleared Unreliable
    </span>
  </div>

  <div class="group">
    <span class="item">
    <span class="status"><app-status-view value='cleared-reliable-unknown-ack'></app-status-view></span> Unknown
    </span>
    <span class="item">
    <span class="status"><app-status-view value='cleared-reliable-maintenance-ack'></app-status-view></span> Maintenance or ShuttedDown
    </span>
  </div>
</div>
