@mixin weather-summary-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .ias-weather-summary-item {
    border-right-color: map-get($foreground, divider);
  }

}
