<div class="ias content" (click)="goToTableFilteredBy('ws-');$event.stopPropagation()">
  <div class="ias sensors">
    <div class="row no-vertical-margin">
      <div class="sensors-card-wrapper">
          <div class="sensors-card" (click)="goToTableFilteredBy('windspeed');$event.stopPropagation()">
              <div class="title">WIND SPEED</div>
              <div class="marker">
                <app-alarm
                  [alarm]="windsAlarm" [images]="windsImageSet" [imagesUnreliable]="windsImageUnreliableSet"
                ></app-alarm>
              </div>
          </div>
      </div>
      <div class="sensors-card-wrapper">
          <div class="sensors-card" (click)="goToTableFilteredBy('humidity');$event.stopPropagation()">
              <div class="title">HUMIDITY</div>
              <div class="marker">
                <app-alarm
                  [alarm]="humidityAlarm" [images]="humidityImageSet" [imagesUnreliable]="humidityImageUnreliableSet"
                ></app-alarm>
              </div>
              <!-- <div class="marker">
                  <img class="marker-img" src="/assets/img/humidity-0-1.svg"/>
              </div> -->
          </div>
      </div>
      <div class="sensors-card-wrapper">
          <div class="sensors-card" (click)="goToTableFilteredBy('temperature');$event.stopPropagation()">
              <div class="title">TEMPERATURE</div>
              <div class="marker">
                <app-alarm
                  [alarm]="tempAlarm" [images]="tempImageSet" [imagesUnreliable]="tempImageUnreliableSet"
                ></app-alarm>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="ias map">
      <img class="weather-stations-map" src="/assets/img/aos-map-weather_s.svg"/>
  </div>
</div>
