<div class="ias content" (click)="goToTableFilteredBy('ws-');$event.stopPropagation()">
  <div class="ias sensors">
    <div class="no-vertical-margin">
      <div class="sensors-card-wrapper">
          <div class="sensors-card" (click)="goToTableFilteredBy('windspeed');$event.stopPropagation()">
              <div class="title">WIND SPEED</div>
              <div class="icon">
                <app-alarm
                  [alarm]="this.getAlarm(windsAlarmId)" [images]="this.weatherService.windsImageSet" [imagesUnreliable]="this.weatherService.windsImageUnreliableSet" [size]="'lg'"
                ></app-alarm>
              </div>
          </div>
      </div>
      <div class="sensors-card-wrapper">
          <div class="sensors-card" (click)="goToTableFilteredBy('humidity');$event.stopPropagation()">
              <div class="title">HUMIDITY</div>
              <div class="icon">
                <app-alarm
                  [alarm]="this.getAlarm(humidityAlarmId)" [images]="this.weatherService.humidityImageSet" [imagesUnreliable]="this.weatherService.humidityImageUnreliableSet" [size]="'lg'"
                ></app-alarm>
              </div>
          </div>
      </div>
      <div class="sensors-card-wrapper">
          <div class="sensors-card" (click)="goToTableFilteredBy('temperature');$event.stopPropagation()">
              <div class="title">TEMPERATURE</div>
              <div class="icon">
                <app-alarm
                  [alarm]="this.getAlarm(tempAlarmId)" [images]="this.weatherService.tempImageSet" [imagesUnreliable]="this.weatherService.tempImageUnreliableSet" [size]="'lg'"
                ></app-alarm>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="ias map">
      <img class="weather-stations-map" src="/assets/img/aos-map-weather_s.svg"/>
  </div>
</div>
