<div class="ias content" (click)="redirect()">
  <div class="ias sensors">
    <div class="no-vertical-margin">
      <div class="sensors-card-wrapper" *ngFor="let config of this.weatherService.weatherSummaryConfig">
          <div class="sensors-card">
              <div class="title">{{this.getName(config)}}</div>
              <div class="icon">
                <app-alarm
                  [alarm]="this.getAlarm(config)" [images]="this.weatherService.getIconSet(config, true)" [imagesUnreliable]="this.weatherService.getIconSet(config, false)" [size]="'lg'"
                ></app-alarm>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
