<div class="title">Primary</div>
<div fxLayout="row" class="panels">
  <span id="panel900"> 900 </span>
  <span id="panel800"> 800 </span>
  <span id="panel700"> 700 </span>
  <span id="panel600"> 600 </span>
  <span id="panel500"> 500 </span>
  <span id="panel400"> 400 </span>
  <span id="panel300"> 300 </span>
  <span id="panel200"> 200 </span>
  <span id="panel100"> 100 </span>
  <span id="panel50"> 50 </span>
</div>
<div fxLayout="row" class="panels">
  <span id="panelA700"> A700 </span>
  <span id="panelA400"> A400 </span>
  <span id="panelA100"> A100 </span>
</div>

<div class="title">Accent</div>
<div fxLayout="row" class="panels">
  <span id="panel900accent"> 900 </span>
  <span id="panel800accent"> 800 </span>
  <span id="panel700accent"> 700 </span>
  <span id="panel600accent"> 600 </span>
  <span id="panel500accent"> 500 </span>
  <span id="panel400accent"> 400 </span>
  <span id="panel300accent"> 300 </span>
  <span id="panel200accent"> 200 </span>
  <span id="panel100accent"> 100 </span>
  <span id="panel50accent"> 50 </span>
</div>
<div fxLayout="row" class="panels">
  <span id="panelA700accent"> A700 </span>
  <span id="panelA400accent"> A400 </span>
  <span id="panelA100accent"> A100 </span>
</div>

<div class="title">Warn</div>
<div fxLayout="row" class="panels">
  <span id="panel900warn"> 900 </span>
  <span id="panel800warn"> 800 </span>
  <span id="panel700warn"> 700 </span>
  <span id="panel600warn"> 600 </span>
  <span id="panel500warn"> 500 </span>
  <span id="panel400warn"> 400 </span>
  <span id="panel300warn"> 300 </span>
  <span id="panel200warn"> 200 </span>
  <span id="panel100warn"> 100 </span>
  <span id="panel50warn"> 50 </span>
</div>
<div fxLayout="row" class="panels">
  <span id="panelA700warn"> A700 </span>
  <span id="panelA400warn"> A400 </span>
  <span id="panelA100warn"> A100 </span>
</div>

<div class="title">Material Toggle</div>
<mat-slide-toggle>Slide me!</mat-slide-toggle>
<br>
<div class="title">Basic Buttons</div>
<div class="button-row">
  <button mat-button>Basic</button>
  <button mat-button color="secondary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a mat-button routerLink=".">Link</a>
</div>

<div class="title">Raised Buttons</div>
<div class="button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>

<div class="title">Flat Buttons</div>
<div class="button-row">
  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a mat-flat-button routerLink=".">Link</a>
</div>

<div class="title">Icon Buttons</div>
<div class="button-row">
  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button color="primary">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button color="accent">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button color="warn">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button disabled>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
</div>

<div class="title">Fab Buttons</div>
<div class="button-row">
  <button mat-fab>Basic</button>
  <button mat-fab color="primary">Primary</button>
  <button mat-fab color="accent">Accent</button>
  <button mat-fab color="warn">Warn</button>
  <button mat-fab disabled>Disabled</button>
  <button mat-fab>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <a mat-fab routerLink=".">Link</a>
</div>

<div class="title">Mini Fab Buttons</div>
<div class="button-row">
  <button mat-mini-fab>Basic</button>
  <button mat-mini-fab color="primary">Primary</button>
  <button mat-mini-fab color="accent">Accent</button>
  <button mat-mini-fab color="warn">Warn</button>
  <button mat-mini-fab disabled>Disabled</button>
  <button mat-mini-fab>
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <a mat-mini-fab routerLink=".">Link</a>
</div>

<mat-card class="example-card">
  <mat-card-header class="example-card__header">
    <div mat-card-avatar class="example-card__header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
