@mixin material-sandbox-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // PRIMARY
  #panel900 {
    background: mat-color($primary, 900);
    color: mat-contrast($primary, 900);
  }

  #panel800 {
    background: mat-color($primary, 800);
    color: mat-contrast($primary, 800);
  }

  #panel700 {
    background: mat-color($primary, 700);
    color: mat-contrast($primary, 700);
  }

  #panel600 {
    background: mat-color($primary, 600);
    color: mat-contrast($primary, 600);
  }

  #panel500 {
    background: mat-color($primary, 500);
    color: mat-contrast($primary, 500);
  }

  #panel400 {
    background: mat-color($primary, 400);
    color: mat-contrast($primary, 400);
  }

  #panel300 {
    background: mat-color($primary, 300);
    color: mat-contrast($primary, 300);
  }

  #panel200 {
    background: mat-color($primary, 200);
    color: mat-contrast($primary, 200);
  }

  #panel100 {
    background: mat-color($primary, 100);
    color: mat-contrast($primary, 100);
  }

  #panel50 {
    background: mat-color($primary, 50);
    color: mat-contrast($primary, 50);
  }

  #panelA700 {
    background: mat-color($primary, A700);
    color: mat-contrast($primary, A700);
  }

  #panelA400 {
    background: mat-color($primary, A400);
    color: mat-contrast($primary, A400);
  }

  #panelA100 {
    background: mat-color($primary, A100);
    color: mat-contrast($primary, A100);
  }


  // ACCENT
  #panel900accent {
    background: mat-color($accent, 900);
    color: mat-contrast($accent, 900);
  }

  #panel800accent {
    background: mat-color($accent, 800);
    color: mat-contrast($accent, 800);
  }

  #panel700accent {
    background: mat-color($accent, 700);
    color: mat-contrast($accent, 700);
  }

  #panel600accent {
    background: mat-color($accent, 600);
    color: mat-contrast($accent, 600);
  }

  #panel500accent {
    background: mat-color($accent, 500);
    color: mat-contrast($accent, 500);
  }

  #panel400accent {
    background: mat-color($accent, 400);
    color: mat-contrast($accent, 400);
  }

  #panel300accent {
    background: mat-color($accent, 300);
    color: mat-contrast($accent, 300);
  }

  #panel200accent {
    background: mat-color($accent, 200);
    color: mat-contrast($accent, 200);
  }

  #panel100accent {
    background: mat-color($accent, 100);
    color: mat-contrast($accent, 100);
  }

  #panel50accent {
    background: mat-color($accent, 50);
    color: mat-contrast($accent, 50);
  }

  #panelA700accent {
    background: mat-color($accent, A700);
    color: mat-contrast($accent, A700);
  }

  #panelA400accent {
    background: mat-color($accent, A400);
    color: mat-contrast($accent, A400);
  }

  #panelA100accent {
    background: mat-color($accent, A100);
    color: mat-contrast($accent, A100);
  }


  // WARN
  #panel900warn {
    background: mat-color($warn, 900);
    color: mat-contrast($warn, 800);
  }

  #panel800warn {
    background: mat-color($warn, 800);
    color: mat-contrast($warn, 800);
  }

  #panel700warn {
    background: mat-color($warn, 700);
    color: mat-contrast($warn, 700);
  }

  #panel600warn {
    background: mat-color($warn, 600);
    color: mat-contrast($warn, 600);
  }

  #panel500warn {
    background: mat-color($warn, 500);
    color: mat-contrast($warn, 500);
  }

  #panel400warn {
    background: mat-color($warn, 400);
    color: mat-contrast($warn, 400);
  }

  #panel300warn {
    background: mat-color($warn, 300);
    color: mat-contrast($warn, 300);
  }

  #panel200warn {
    background: mat-color($warn, 200);
    color: mat-contrast($warn, 200);
  }

  #panel100warn {
    background: mat-color($warn, 100);
    color: mat-contrast($warn, 100);
  }

  #panel50warn {
    background: mat-color($warn, 50);
    color: mat-contrast($warn, 50);
  }

  #panelA700warn {
    background: mat-color($warn, A700);
    color: mat-contrast($warn, A700);
  }

  #panelA400warn {
    background: mat-color($warn, A400);
    color: mat-contrast($warn, A400);
  }

  #panelA100warn {
    background: mat-color($warn, A100);
    color: mat-contrast($warn, A100);
  }

  #status-bar {
    background: mat-color($background, status-bar);
  }

  #app-bar {
    background: mat-color($background, app-bar);
  }

  #background {
    background: mat-color($background, background);
  }

  #hover {
    background: mat-color($background, hover);
  }

  #card {
    background: mat-color($background, card);
  }

  #dialog {
    background: mat-color($background, dialog);
  }

  #disabled-button {
    background: mat-color($background, disabled-button);
  }

  #raised-button {
    background: mat-color($background, raised-button);
  }

  #focused-button {
    background: mat-color($background, focused-button);
  }

  #selected-button {
    background: mat-color($background, selected-button);
  }

  #selected-disabled-button {
    background: mat-color($background, selected-disabled-button);
  }

  #disabled-button-toggle {
    background: mat-color($background, disabled-button-toggle);
  }

  #unselected-chip {
    background: mat-color($background, unselected-chip);
  }

  #disabled-list-option {
    background: mat-color($background, disabled-list-option);
  }

  #warning {
    background: mat-color($background, warning);
  }

  // Foreground
  #base {
    color: mat-color($foreground, base);
  }

  #divider {
    color: mat-color($foreground, divider);
  }

  #dividers {
    color: mat-color($foreground, dividers);
  }

  #disabled-button {
    color: mat-color($foreground, disabled-button);
  }

  #disabled-text {
    color: mat-color($foreground, disabled-text);
  }

  #hint-text {
    color: mat-color($foreground, hint-text);
  }

  #secondary-text {
    color: mat-color($foreground, secondary-text);
  }

  #icon {
    color: mat-color($foreground, icon);
  }

  #icons {
    color: mat-color($foreground, icons);
  }

  #text {
    color: mat-color($foreground, text);
  }

  #slider-min {
    color: mat-color($foreground, slider-min);
  }

  #slider-off {
    color: mat-color($foreground, slider-off);
  }

  #slider-off-active {
    color: mat-color($foreground, slider-off-active);
  }

}
