/* TODO: Remove provisory adjustments for the health marker if related resources are available */

#ias-card-health-marker {
  padding-left: 14px;
  padding-right: 12px;
}

.health-marker-svg {
  filter: invert(1);
}

.ias.overview {
  margin-top: 20px;
}

.ias.overview.column {
  padding-left: 40px;
}

.ias.overview.row {
  padding-bottom: 50px;
}
