<div class="ias overview">
<div class="ias overview-card">
    <div class="marker-wrapper">
        <div class="ias overview-card marker">
            <img src="/assets/img/container-weather.svg"/> </div>
        </div>
    <div class="label"> WEATHER STATIONS </div>
    <div class="content-wrapper">
        <div class="content">
            <div class="ias sensors">
                <div class="sensors-card-wrapper">
                    <div class="sensors-card">
                        <div class="title">WIND SPEED</div>
                        <div class="marker">
                            <img class="marker-img" src="/assets/img/winds-0.svg"/>
                        </div>
                    </div>
                </div>
                <div class="sensors-card-wrapper">
                    <div class="sensors-card">
                        <div class="title">HUMIDITY</div>
                        <div class="marker">
                            <img class="marker-img" src="/assets/img/humidity-0-1.svg"/>
                        </div>
                    </div>
                </div>
                <div class="sensors-card-wrapper">
                    <div class="sensors-card">
                        <div class="title">TEMPERATURE</div>
                        <div class="marker">
                            <img class="marker-img" src="/assets/img/temp-0.svg"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ias map">
                <img class="weather-stations-map" src="/assets/img/aos-map-weather_s.svg"/>
            </div>
        </div>
    </div>
</div>
</div>
