
#app-toolbar {

  padding: 0;

  .btn-wrapper {
    padding: 0 16px;
  }

  .content-wrapper {
    padding: 0 16px;
    width: 100%;
  }

  img.ias-logo {
    width: 35px;
    margin-right: 10px;
  }

}

#actions-sidenav  {
  width: 500px;
  padding: 24px;
}


#main-content  {
  height: calc(100vh - 64px) !important;
}

#navigation-sidenav {

  width: 220px;

  p {
    padding-right: 50px;
  }

  /deep/ .mat-list-item-content {
    padding: 0px 12px;
  }

  /deep/ .mat-list-text {
    padding-left: 0;
    width: 74%;
  }

  mat-nav-list a.mat-list-item {

    height: 80px;
    padding-left: 10px;

    mat-icon {
      font-size: 40px;
      height: 40px;
      width: 40px;
    }

    &.active-link {

      /deep/ .mat-line {
        font-weight: bold;
      }

    }

  }

  &.compacted {

    width: unset;

    .ias.ias-logo-container {
      padding: .725rem 0;
      width: 60%;
      left: 20%;
    }

    img.ias.ias-logo {
      width: 30px;
    }

    mat-nav-list a.mat-list-item {

      padding-left: 0px;

    }

  }

}
