.menu-btn {
  padding-right: 20px;
}

.main-menu-icon {
  color: white !important;
  font-size: 24px !important;
  cursor: pointer;
}

.logo-container {
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  padding-bottom: 4px;
}

.logo-container > img {
  width: 36px;
}

.title {
  font-size: 22px;
  padding-top: 7px;
  padding-left: 14px;
  padding-right: 14px;
  /* font-weight: bold; */
}

:host /deep/ nb-layout-header nav{
  color: white !important;
  background-color: #324459 !important;
  /* background-color: #2f3b49 !important; */
  box-shadow: none !important;
}

:host /deep/ nb-layout-column{
  box-shadow: none !important;
  background-color: #282e38 !important;
}

:host /deep/ nb-card{
  box-shadow: none !important;
  background-color: #3c4856 !important;
}

:host /deep/ nb-card-header{
  color: white !important;
  box-shadow: none !important;
  background-color: #3c4856 !important;
  border-bottom: 1px solid #3c4856 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

:host /deep/ nb-card-body{
  background-color: #2e3740 !important;
}

:host /deep/ nb-card-footer{
  color: white !important;
  box-shadow: none !important;
  background-color: #192531 !important;
  border-top: 1px solid #192531 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:host /deep/ nb-sidebar .main-container {
  background: #324459 !important;
  box-shadow: none !important;
}

:host /deep/ nb-sidebar.compacted nb-menu .menu-item a.active::before{
  background: none !important; /* TODO: review active links style */
}

:host /deep/ nb-menu {
  background: none !important;
}

:host /deep/ nb-menu li {
  border: 0px solid #324459 !important;
}

:host /deep/ nb-menu .menu-item a {
  background: none !important;
  color: white !important;
  cursor: pointer !important;
}

:host /deep/ nb-menu .menu-icon {
  color: white !important;
}
