@import './@theme/alma';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@include nb-install-component {

    .menu-btn {
      padding-right: 20px;
    }

    .main-menu-icon {
      color: white;
      font-size: 24px;
      cursor: pointer;
    }

    .menu-sidebar {
      margin-top: 2rem;
    }

    .nb-sidebar-header {
      padding: 1.25rem;
      padding-bottom: 4px;
      height: initial;
    }

    .title {
      font-size: 18px;
    }

    /deep/ nb-card {
      nb-card-header {
        background-color: #3c4856;
        border-bottom: 1px solid #3c4856;
      }
      nb-card-body {
        background-color: #2e3740;
      }
      nb-card-footer {
        background-color: #192531;
        border-top: 1px solid #192531;
      }
    }

    /deep/ nb-layout {
        nb-layout-column {
            background-color: #282e38;
        }
        nb-layout-header .menu-btn {
            font-size: 1.5rem;
        }
        nb-layout-header nav {
          height: 3.25rem;
        }
    }

}

nb-sidebar.menu-sidebar {

  .ias.ias-logo-container {
    display: table;
    background: #3d628f;
    width: 100%;
    padding: .75rem 2.5rem;
    margin-top: -2rem;
    border-radius: 4px;
  }

  img.ias.ias-logo {
    width: 40px;
  }

  &.compacted {

    .ias.ias-logo-container {
      position: relative;
      top: 0px;
      left: -12px;
      padding: 2px;
      padding-top: .75rem;
      padding-bottom: .75rem;
      min-width: 42px;
    }

    img.ias.ias-logo {
      width: 30px;
    }

  }

  /deep/ .menu-item:first-child {
    border-top: 0px solid black;
    border-bottom: 0px solid black;
  }

  /deep/ .menu-item {
    border-top: 0px solid black;
    border-bottom: 0px solid black;
  }

}
