<nb-layout>

  <nb-layout-header fixed class="ias-header">
    <div class="menu-btn">
      <a (click)="toggleSidebar()">
        <i class="main-menu-icon ion-md-menu"></i>
      </a>
    </div>
    <span class="title"> {{ title }} </span>
  </nb-layout-header>


  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" left state="compacted">
    <nb-sidebar-header style="text-align: center;">
    <div class="ias ias-logo-container">
      <img class="ias ias-logo" src="/assets/img/logo-ias_white.svg">
    </div>
    </nb-sidebar-header>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

</nb-layout>
