.alarm-label {
  text-transform: uppercase;
  padding: 2px 2px;
  border-radius: 2px;
  line-height: 1em;
  display: inline;
}

.no-padding {
  padding: 0;
}

.hide-label {
  display: none;
}

.unreliable {
  padding: 2px 2px;
}
