<div fxLayout="row">
  <div class="alarm-icon">
    <app-alarm
      [alarm]="alarm" [images]="alarmIconsSet" [imagesUnreliable]="alarmIconsUnreliableSet" [showActionBadges]="false" [size]="'status'" [tooltipDirection]="tooltipDirection"
    ></app-alarm>
  </div>
  <div class="priority-icon">
    <app-alarm
      [alarm]="alarm" [images]="alarmIconsPrioritySet" [imagesUnreliable]="alarmIconsPrioritySet" [showActionBadges]="showActionBadges" [size]="'status'" [tooltipDirection]="tooltipDirection"
    ></app-alarm>
  </div>
</div>
