.status-view {
  display: inline-flex;
  width: 80px;
}

.status-view-icon {
  height: 24px;
}

.alarm-icon {
  padding-right: 10px;
}

.priority-icon {

}

/* .blink {
  -webkit-animation: BLINK 1s infinite;
  -moz-animation:    BLINK 1s infinite;
  -o-animation:      BLINK 1s infinite;
  animation:         BLINK 1s infinite;
}

@-webkit-keyframes BLINK {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes BLINK {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes BLINK {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes BLINK {
  0%   { opacity: 0; }
  100% { opacity: 1; }
} */
