<div
  class="alarm-header-container"
  placement="{{tooltipDirection}}"
  [ngbTooltip]="tipContent"
  data-container="body"
>
  <ng-template #tipContent>
    <app-alarm-tooltip [alarm]="alarm" [tooltipDirection]="tooltipDirection"></app-alarm-tooltip>
  </ng-template>

  <div fxFlex="10px" class="alarm-header-color" [ngClass]="currentClass"></div>

  <div fxLayout="column">
    <div class="alarm-header-name">
        {{this.alarmName}}
    </div>
    <div [ngClass]="blinkingClass">
      <app-alarm-label [alarm]="alarm" [showText]="false" [size]="'md'"></app-alarm-label>
    </div>
  </div>


  <div fxLayout="row" class="alarm-header-badges" [ngClass]="blinkingClass">
    <div class="badges" *ngIf="showActionBadges">

      <div *ngIf="showAsPendingAck; then ackOn else ackOff"></div>
      <ng-template #ackOn>
        <img class="badge-icon ack-icon" src="/assets/img/ack-on.svg"/>
      </ng-template>
      <ng-template #ackOff>
        <img class="badge-icon ack-icon badge-off" src="/assets/img/ack-on.svg"/>
      </ng-template>

      <div *ngIf="showAsShelved; then shelvedOn else shelvedOff"></div>
      <ng-template #shelvedOn>
        <img class="badge-icon shelve-icon" src="/assets/img/unshelve.svg"/>
      </ng-template>
      <ng-template #shelvedOff>
        <img class="badge-icon shelve-icon badge-off" src="/assets/img/shelve.svg"/>
      </ng-template>

    </div>
  </div>

  <app-alarm-blink
    [alarm]="this.alarm"
    (blinkingStatus)="changeBlinkingState($event)"
  ></app-alarm-blink>

</div>
