::ng-deep .tooltip-class .tooltip-inner {
  font-size: 11px;
  min-width: 350px;
  max-width: 500px;
  font-family: monospace;
  vertical-align: top;
  text-align: left;

  table {
  }

  th {
    font-weight: bold;
    width: 110px;
    vertical-align: top;
  }

  pre {
    color: white;
    vertical-align: top;
    font-size: 100%;
  }
}

.alarm-header-container {
  height: 100%;
}

.alarm-header-color {
  height: 100%;
  width: 10px;
  border-radius: 4px 0px 0px 4px;
  margin-right: 10px;
  display: flex;
}

.alarm-header-name {
  padding-right: 4px;
}

.alarm-header-badges {
  position: relative;
  margin: 12px 0 12px 0px;
}

.badges{

  .badge-icon{
    position: absolute;
    height: 35%;
    left: 106%;
  }

  .ack-icon{
    top: 2%;
  }

  .shelve-icon{
    bottom: 2%;
  }

  .badge-off{
    opacity: 0.08;
  }
}

.green {
  border-width: 1px;
  border-style: solid;
}

.yellow {
  border-width: 1px;
  border-style: solid;
}

.red {
  border-width: 1px;
  border-style: solid;
}

.gray {
  border-width: 1px;
  border-style: solid;
}

.blue {
  border-width: 1px;
  border-style: solid;
}

.unreliable {
  background: transparent;
}
