.weather-station-sidebar {
    height: 60px;
    line-height: 20px;
    width: 100%;
    padding-right: 50px;
    border-radius: 4px;
    position: absolute;
    top:0;
    left:0;

    .weather-icons {
      line-height: initial;
      margin: 14px 0;
    }

    .icon {
      padding: 0 10px;
      width: fit-content;
    }

}
