:host-context(.modal-dialog) {
  background: transparent;
}

:host-context(.modal-content) {
  background: #2e445c;
  color: white;
}

.modal-action {

  &.modal-header {
    background: transparent;
    border-bottom: 0px solid #000;

    .modal-title {
      padding: 8px 4px;
    }

  }

  &.modal-body {
    background: transparent;

    .section {
      padding: 10px 8px;

      &.alarm-info {}

      &.shelve-action {

        textarea {
          box-sizing: border-box;
          width: 100%;
          height: 100px;
          background: #2e404e;
          color: white;
          border-color: #495d6e;
        }

        .form-control:focus {
          border: 1px solid #235285;
        }

        .action-info {
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 14px;
          color: #a4acac;
        }

      }

    }

  }

  &.modal-footer {
    background: transparent;
    border-top: 0px solid #000;

    .btn.btn-action {

      cursor: pointer !important;

      &.btn-secondary{
        background-color: rgba(0, 0, 0, 0);
      }

      &.btn-secondary:hover{
        background-color: #9e9e9e !important;
      }

    }

  }

  p {
    margin-top: 0;
    margin-bottom: 1.15rem;
  }

  .info-message {
    padding-top: 10px;
  }

  .alarmUrl {
      color: #4ac8ff !important;
  }

  .alarmUrl .alarmLink {
    text-decoration: underline;
  }

  .close {
    color: lightgray;
  }

}
