<div class="ias-overview " fxLayout="column" fxLayoutAlign="start start">
  <div
    class="content no-margin"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayout.lt-lg="column"
    fxLayoutAlign.lt-lg="flex-start"
    fxLayout.lg="row"
    fxLayoutAlign.lg="flex-start"
  >
    <div fxFlex="27.5%" fxFlex.lt-lg="100%" fxFlex.lg="26%">
      <app-overview-card>
        <div data="label"> IAS HEALTH </div>
        <div id="ias-card-health-marker" data="marker-img"> <img src="/assets/img/logo.svg"/> </div>
        <div data="content">
          <app-health-summary></app-health-summary>
        </div>
      </app-overview-card>
    </div>

    <div fxFlex="27.5%" fxFlex.lt-lg="100%" fxFlex.lg="26%">
      <app-overview-card>
        <div data="label"> ANTENNAS </div>
        <div data="marker-img"> <img src="/assets/img/container-antenna.svg"/> </div>
        <div data="content">
          <app-antennas-summary></app-antennas-summary>
        </div>
      </app-overview-card>
    </div>

    <div fxFlex="45%" fxFlex.lt-lg="100%" fxFlex.lg="48%">
      <app-overview-card>
        <div data="label"> WEATHER </div>
        <div data="marker-img"> <img src="/assets/img/container-weather.svg"/> </div>
        <div data="content">
          <app-weather-summary></app-weather-summary>
        </div>
      </app-overview-card>
    </div>
  </div>

  <div
    class="content no-margin"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayout.lt-lg="column"
    fxLayoutAlign.lt-lg="flex-start"
    fxLayout.lg="row"
    fxLayoutAlign.lg="flex-start"
  >

    <div fxFlex="27.5%" fxFlex.lt-lg="100%" fxFlex.lg="26%">
      <app-overview-card>
        <div data="label"> BUILDING </div>
        <div data="marker-img"> <img src="/assets/img/container-building.svg"/> </div>
        <div data="content">
          <app-building-summary></app-building-summary>
        </div>
      </app-overview-card>
    </div>

    <div fxFlex="72.5%" fxFlex.lt-lg="100%" fxFlex.lg="74%">
    </div>

  </div>

</div>
