<div class="ias overview">
  <div class="ias overview row">
    <div class="ias overview column col-md-3">
      <app-overview-card>
        <div data="label"> ANTENNAS </div>
        <div data="marker-img"> <img src="/assets/img/container-antenna.svg"/> </div>
        <div data="content"> <!-- no content --> </div>
      </app-overview-card>
      <app-overview-card>
        <div data="label"> POWER </div>
        <div data="marker-img"> <img src="/assets/img/container-power.svg"/> </div>
        <div data="content"> <!-- no content --> </div>
      </app-overview-card>
      <app-overview-card>
        <div data="label"> OBSERVATIONS </div>
        <div data="marker-img"> <img src="/assets/img/container-observation.svg"/> </div>
        <div data="content"> <!-- no content --> </div>
      </app-overview-card>
    </div>
    <div class="ias overview column col-md-6">
      <app-overview-card>
        <div data="label"> WEATHER </div>
        <div data="marker-img"> <img src="/assets/img/container-weather.svg"/> </div>
        <div data="content">
          <app-weather-summary></app-weather-summary>
        </div>
      </app-overview-card>
    </div>
    <div class="ias overview column col-md-3">
      <app-overview-card>
        <div data="label"> IAS HEALTH </div>
        <div id="ias-card-health-marker" data="marker-img"> <img src="/assets/img/logo.svg"/> </div>
        <div data="content">
          <app-ias-health-overview></app-ias-health-overview>
        </div>
      </app-overview-card>
      <app-overview-card>
        <div data="label"> NETWORK </div>
        <div data="marker-img"> <img src="/assets/img/container-network.svg"/> </div>
        <div data="content"> <!-- no content --> </div>
      </app-overview-card>
    </div>
  </div>
</div>
