.props-table-container {
  font-size: 90%;
  overflow-y: auto;
  overflow-x: auto;
  max-width: 450px;
  max-height: 400px;

  table, th, td {
    border-width: 0px;
    border-style: solid;
  }

  table {
    vertical-align: top;
    width: 100%;
    max-width: 450px;
  }

  th, td {
    vertical-align: top;
    padding: 0px 4px 0px 4px ;
  }

  th {
    width: fit-content;
  }

  td {
    max-width: 320px;
    width: 100%;
    word-wrap: break-word;
  }

}
