<div class="ias content" (click)="goToTableFilteredBy('ias-');$event.stopPropagation()">
  <div class="ias sensors">
    <div class="row no-vertical-margin">
      <div class="sensors-card-wrapper">
          <div class="sensors-card global-health-status">
              <div class="title">IAS HEALTH</div>
              <div class="marker">
                <app-alarm
                  [alarm]="alarm" [images]="iconSet" [imagesUnreliable]="iconSet"
                ></app-alarm>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
