.mat-card {

  .mat-card-header {
    display: block;
    padding: 20px;
    border-top-left-radius: 0.375em;
    border-top-right-radius: 0.375em;
  }

  .mat-card-content {
    border-bottom-left-radius: 0.375em;
    border-bottom-right-radius: 0.375em;
  }

}
