/deep/ {

  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgb(74, 200, 255);
  }

  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #fefefe;
  }

  .mat-card {
    padding: 0 !important;
    border-radius: 0.375em !important;
  }

  .mat-card .mat-card-header {
    display: block;
    padding: 20px 20px 20px 20px;
    background: #3c4856;
    border-top-left-radius: 0.375em;
    border-top-right-radius: 0.375em;
  }

  .mat-card .mat-card-content {
    padding: 20px;
    background: #2e3740;
    border-bottom-left-radius: 0.375em;
    border-bottom-right-radius: 0.375em;
  }

  input.mat-input-element {
    width: 100%;
    border: 2px solid #818b98;
    background: none;
    padding: .375em .75em;
    border-radius: 0.375rem;
    margin-bottom: 16px;
    color: white;
    outline: none;
  }

  input.mat-input-element::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #a4abb3;
      opacity: 1; /* Firefox */
  }

  input.mat-input-element:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #a4abb3;
  }

  input.mat-input-element::-ms-input-placeholder { /* Microsoft Edge */
      color: #a4abb3;
  }

  .mat-sort-header-container {
    display: inline-flex !important;

    button.mat-sort-header-button {
      font-size: 1rem;
      font-weight: bold;
      outline: none;
    }

  }

  .mat-header-cell .cdk-visually-hidden {
    display: block;
    color: #fafafa;
    font-size: 10px;
    padding-top: 4px;
  }

  /* Styles by column */

  .mat-column-status {
    flex: 0 0 12% !important;
  }

  .mat-column-name {
    flex: 0 0 20% !important;
  }

  .mat-column-mode {
    flex: 0 0 13% !important;
  }

  .mat-column-timestamp {
    flex: 0 0 15% !important;
  }

  .mat-column-description {
    flex: 0 0 25% !important;
  }

  .mat-column-actions {
    flex: 0 0 15% !important;
    text-align: center !important;
  }


}
