.mat-header-row {
  padding-top: 30px;
  padding-bottom: 10px;
  min-height: 0px;
}

.mat-header-cell {
  font-size: 0.85rem;
  font-weight: bold;
}

.mat-row {
  border-bottom-style: hidden;
}

.mat-card {

  .mat-card-header {
    display: block;
    padding: 20px;
    border-top-left-radius: 0.375em;
    border-top-right-radius: 0.375em;
  }

  .mat-card-content {
    padding: 20px;
    border-bottom-left-radius: 0.375em;
    border-bottom-right-radius: 0.375em;
  }

}

.filter-mat-form-field {
  width: 500px;
}

.table-filters {

  .row {
    .text-container {
      display: flex;
    }
    .toggles-container {
      height: 100%;
      .row {
        height: 100%;
        mat-slide-toggle {
          height: 100%;
        }
      }
    }
  }

}

/deep/ {

  // Removes
  .filter-mat-form-field {

    .mat-form-field-infix {
      border-top-width: 6px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

  }

  // Size percentage by column
  .mat-column-status {
    flex: 0 0 10% !important;
  }

  .mat-column-name {
    flex: 0 0 20% !important;
  }

  .mat-column-mode {
    flex: 0 0 10% !important;
  }

  .mat-column-timestamp {
    flex: 0 0 10% !important;
  }

  .mat-column-description {
    // flex: 0 0 25% !important;
  }

  .mat-column-properties {
    // flex: 0 0 25% !important;
    white-space: pre;
    font-size: 80%;
    overflow-y: auto;

    &.mat-cell {
      max-height: 100px;
      font-family: monospace;
      display: inline-grid;
      vertical-align: middle;
      padding: 8px 0;
    }

  }

  .mat-column-actions {
    flex: 0 0 10% !important;
    text-align: left !important;
  }


}
