/* Structure */

/* custom checkbox */

.ias.checkbox.container.show-set-alarms {
  text-align: right;
  padding: 10px;
}

.ias-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    padding-top: 1px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ias-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.ias-checkbox .ias-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: transparent;
    border-radius: .25rem;
    border: 2px solid #818b98;
}

.ias-checkbox:hover input ~ .ias-checkmark {
    background-color: transparent;
    border: 2px solid #4ac8ff;
}

.ias-checkbox:hover input:checked ~ .ias-checkmark {
    background-color: transparent;
    border: 2px solid #4ac8ff;
}

.ias-checkbox input:checked ~ .ias-checkmark {
    border: 2px solid #00b2ff;
    background-color: transparent;
}

.ias-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.ias-checkbox input:checked ~ .ias-checkmark:after {
    display: block;
}

.ias-checkbox .ias-checkmark:after {
    left: 5px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* custom checkbox */

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  background: transparent;
}

.mat-header-cell {
  padding-top: 20px;
  padding-bottom: 14px;
}

.mat-header-row {
  border-bottom-style: hidden;
  background: #2e445c;
}

.mat-row {
  border-bottom-style: hidden;
  background: rgba(57, 66, 75, 1.0);
  margin-top: 4px;
  opacity: 1.0;
}

.mat-row:hover {
  background: rgba(245, 247, 252, 0.1);
}

.mat-row>.mat-cell {
}
