.ws-data-container {
  color: white;
  background: #39505f;
  border: 2px solid #39505f;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  min-width: fit-content;

  .weather-icons {
  }

  .icon {
    padding: 0px 10px;
    width: fit-content;
  }

}

:host-context(svg .ws-primary-group:hover) .ws-data-container {
  border: 2px solid #a3bbc6;
}
