<div class="ws-data-container"
  [ngClass]="{'selected': this.selected, 'onhover': this.onHover}">

  <div fxLayout="row" class="weather-icons">
    <div class="icon">
      <app-alarm [alarm]="this.getAlarm(this.stationConfig.windspeed)" [images]="weatherService.windsImageSet" [imagesUnreliable]="weatherService.windsImageUnreliableSet"></app-alarm>
    </div>
    <div class="icon">
      <app-alarm [alarm]="this.getAlarm(this.stationConfig.humidity)" [images]="weatherService.humidityImageSet" [imagesUnreliable]="weatherService.humidityImageUnreliableSet"></app-alarm>
    </div>
    <div class="icon">
      <app-alarm [alarm]="this.getAlarm(this.stationConfig.temperature)" [images]="weatherService.tempImageSet" [imagesUnreliable]="weatherService.tempImageUnreliableSet"></app-alarm>
    </div>
  </div>

</div>
