<div
  class="alarm-tile-container"
>
  <div
    class="alarm-tile-background"
    [ngClass]="getClass()"
  ></div>
  <div class="alarm-tile">
    <div class="alarm-tile-content">
      <div class="title">{{getAlarmName()}}</div>
      <div class="alarm">
        <app-alarm
          [alarm]="this.alarm"
          [images]="this.images"
          [imagesUnreliable]="this.imagesUnreliable"
          [showActionBadges]="this.showActionBadges"
          [size]="this.size"
          [tooltipDirection]="this.tooltipDirection"
          [labelLocation]="'bottom'"
          [disableBlink]="false"
        ></app-alarm>
        <app-alarm-blink
          [alarm]="this.alarm"
          (blinkingStatus)="changeBlinkingState($event)"
        ></app-alarm-blink>
      </div>
    </div>
  </div>
</div>
