.alarm-tile-container {
  display:block;
}

.alarm-tile {

  .alarm-tile-content {

    padding: 48px;

    .title {
      text-transform: uppercase;
      padding-bottom: 10px;
      text-align: center;
    }

    .alarm {
      display: inline-flex;
      width: 100%;

      app-alarm {
        margin: auto;
      }

    }

  }

}
