@mixin alarm-tile-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $alarms: map-get($theme, alarms);

  .alarm-tile {
    color: map-get($foreground, secondary-text);
  }

  .alarm-tile-green {
    border-color: transparent;
    background: transparent;
    &.alarm-tile-unreliable {
      border-color: #00A090;
    }
  }

  .alarm-tile-yellow {
    border-color: mat-color($alarms, set-low-card);
    background: mat-color($alarms, set-low-card);
    color: mat-color($alarms, set-card-dark-text);
    &.alarm-tile-unreliable {
      color: mat-color($foreground, text);
    }
  }

  .alarm-tile-red {
    border-color: mat-color($alarms, set-critical-card);
    background: mat-color($alarms, set-critical-card);
  }

  .alarm-tile-gray {
    border-color: mat-color($alarms, maintenance-card);
    background: mat-color($alarms, maintenance-card);
    color: mat-color($alarms, set-card-dark-text);
    &.alarm-tile-unreliable {
      color: mat-color($foreground, text);
    }
  }

  .alarm-tile-blue {
    border-color: mat-color($alarms, unknown-card);
    background: mat-color($alarms, unknown-card);
  }

  .alarm-tile-unreliable {
    background: transparent;
  }


}
