@mixin weather-map-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  svg g.ws-primary-group:hover .ws-connector {
    stroke: mat-color($foreground, secondary-text);
  };

  svg g.pad-groups {
    &.selected {
      circle {
        stroke: mat-color($foreground, text);
      }
    }
  }

}
