@mixin weather-map-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $map_stroke: mat-color($foreground, map-stroke);
  $selected_pad: mat-color($foreground, text);
  $map_selected_pad: mat-color($foreground, map-selected-pad);
  $map_background: mat-color($background, background);
  $marker_stroke: mat-color($background, dialog);
  $selected_marker_stroke: mat-color($foreground, secondary-text);

  $alarms: map-get($theme, alarms);

  svg path.weather-map-paths {
    stroke: $map_stroke;
  }

  svg circle.weather-map-pads {
    stroke: $map_stroke;
    fill: $map_background;
  }

  svg g.weather-map-pad-groups {

    &.selected {

      circle {
        stroke: $selected_pad;
        fill: $map_background;
      }

    }

    circle {
      stroke: $map_stroke;
      fill: $map_background;
    }

  }

  svg g.antennas-pads-background {

    circle.antennas-pad-status-background {
      stroke: $map_stroke;
      fill: $map_stroke;
    }

  }

  svg g.antennas-pads {

    circle.antennas-pad-status {
      &.in-use {
        &.selected {
          stroke: $map_selected_pad;
          fill: $map_selected_pad;
        }
        &.not-selected {
          stroke: $map_stroke;
          fill: $map_stroke;
        }
      }
      &.free {
        &.selected {
          stroke: $map_selected_pad;
          fill: $map_background;
        }
        &.not-selected {
          stroke: $map_stroke;
          fill: $map_background;
        }
      }
    }

  }

  .affected-green {
    // stroke: mat-color($alarms, border-clear) !important;
    // fill: mat-color($alarms, clear) !important;
  }

  .affected-yellow {
    stroke: mat-color($alarms, border-set-low) !important;
    fill: mat-color($alarms, set-low) !important;
  }

  .affected-red {
    stroke: mat-color($alarms, border-set-critical) !important;
    fill: mat-color($alarms, set-critical) !important;
  }

  .affected-gray {
    stroke: mat-color($alarms, border-maintenance) !important;
    fill: mat-color($alarms, maintenance) !important;
  }

  .affected-blue {
    stroke: mat-color($alarms, border-unknown) !important;
    fill: mat-color($alarms, unknown) !important;
  }

  .affected-unreliable {
    fill: transparent !important;
  }

}
