<app-map
  [mapConfig]="this.mapConfig"
  [mapdataAvailable]="this.mapdataAvailable.value"
>
  <ng-container data="svg-elements">

    <svg:path class="weather-map-paths" *ngFor="let path of svgPaths"
      [attr.d]="path"
      stroke="currentColor"
      stroke-width="3"
      fill="none"
    />

    <svg:g class="antennas-pads-background">

      <ng-container *ngFor="let group of padsStatusGroupNames">

        <ng-container *ngFor="let pads_item of padsDisplayStatus[group] | keyvalue">

          <ng-container *ngFor="let p of [getPlacemarkObject(pads_item.key)]">

            <svg:circle
              class="antennas-pad-status-background"
              [attr.cx]="p.opt_cx"
              [attr.cy]="p.opt_cy"
              stroke="currentColor"
              stroke-width="2"
              r="5"
            />

          </ng-container>

        </ng-container>

      </ng-container>

    </svg:g>

    <ng-container *ngFor="let p of mapPlacemarks['buildings']">
        <svg:foreignObject *ngIf="p.name === 'AOS'"
             [attr.x]="p.opt_cx-15"
             [attr.y]="p.opt_cy-14"
             width="100"
             height="100">
             <xhtml:div>
                <img class="weather-map-aos-marker" title="AOS" src="/assets/img/aos.svg"/>
             </xhtml:div>
        </svg:foreignObject>
    </ng-container>

    <svg:g class="antennas-pads">

      <ng-container *ngFor="let group of padsStatusGroupNames">

        <ng-container *ngFor="let pads_item of padsDisplayStatus[group] | keyvalue">

          <ng-container *ngFor="let p of [getPlacemarkObject(pads_item.key)]">

            <svg:circle
              class="antennas-pad-status"
              [attr.cx]="p.opt_cx"
              [attr.cy]="p.opt_cy"
              [ngClass]="pads_item.value"
              stroke="currentColor"
              stroke-width="2"
              r="5"
            />

          </ng-container>

        </ng-container>

      </ng-container>

    </svg:g>

    <ng-container *ngFor="let padsGroup of getPadsGroups()">

      <ng-container *ngFor="let stationConfig of service.weatherStationsConfig">
        <ng-container *ngIf="stationConfig.placemark === getPrimaryWeatherStationConfig(padsGroup)">
          <!-- Elements by pads group -->
          <!-- Note: it should be one primary weather stationConfig related to a pad group -->
          <svg:g class="weather-map-pad-groups" [ngClass]="{'selected': isSelected(stationConfig)}" >
            <ng-container *ngFor="let p of [getPlacemarkObject(stationConfig.placemark)]">
              <svg:g class="weather-map-primary-ws-group"
                [ngClass]="getPrimaryWeatherStationStyle(stationConfig)"
                (click)="onClick(stationConfig)"
                (mouseenter)="mouseEnterPrimaryWeatherStationGroup(stationConfig)"
                (mouseleave)="mouseLeavePrimaryWeatherStationGroup()">
                <animate
                  *ngIf="blinkingStatus[stationConfig.alarm_id]"
                  attributeType="XML"
                  attributeName="opacity"
                  from="0.0"
                  to="0.0"
                  dur="2s"
                  repeatCount="indefinite"
                  values="0; 0.75; 0.0"
                  keyTimes="0; 0.5; 1"
                />
                <!-- primary ws related markers -->
                <foreignObject
                     [attr.x]="p.opt_cx"
                     [attr.y]="p.opt_cy-50"
                     width="80"
                     height="50">
                   <xhtml:app-weather-primary-ws-connector
                     [coords]="[[0, 32], [30, 2], [80, 2]]"
                     [onHover]="isOnHover(stationConfig)"
                     [selected]="isSelected(stationConfig)">
                   </xhtml:app-weather-primary-ws-connector>
                </foreignObject>
                <foreignObject
                     [attr.x]="p.opt_cx-25"
                     [attr.y]="p.opt_cy-25"
                     width="100"
                     height="50">
                  <xhtml:app-weather-primary-ws-marker
                     [stationConfig]="stationConfig"
                     (blinkingStatus)="changeBlinkingState($event, stationConfig.alarm_id)">
                  </xhtml:app-weather-primary-ws-marker>
                </foreignObject>
                <foreignObject
                     class="fobject"
                     [attr.x]="(p.opt_cx-50) + 125"
                     [attr.y]="(p.opt_cy-50) - 25"
                     width="218"
                     height="64">
                  <xhtml:app-weather-data-marker
                     [stationConfig]="stationConfig"
                     [onHover]="isOnHover(stationConfig)"
                     [selected]="isSelected(stationConfig)">
                  </xhtml:app-weather-data-marker>
                </foreignObject>
              <!-- primary ws related markers -->
              </svg:g>

              <!-- backup ws marker -->
              <ng-container *ngFor="let backup_ws_name of datarelations[padsGroup]['wstations']['backup']">
                <svg:g class="weather-map-backup-ws-group"
                 [ngClass]="getBackupWeatherStationStyle(stationConfig)">
                  <ng-container *ngFor="let p of [getPlacemarkObject(backup_ws_name)]">
                    <foreignObject
                         [attr.x]="p.opt_cx-25"
                         [attr.y]="p.opt_cy-25"
                         width="100"
                         height="50">
                      <xhtml:app-weather-backup-ws-marker
                         [stationConfig]="stationConfig">
                      </xhtml:app-weather-backup-ws-marker>
                    </foreignObject>
                  </ng-container>
                </svg:g>
              </ng-container>
              <!-- backup ws marker -->
            </ng-container>
          </svg:g>
          <!-- Elements by pads group -->
        </ng-container>
      </ng-container>
    </ng-container>

  </ng-container>
</app-map>
