<div> Map Sandbox </div>
<div>

  <svg [attr.viewBox]="viewbox" class="ws-map">

    <!--  Route paths -->
    <g class="paths">
      <path *ngFor="let path of svgPaths"
        [attr.d]="path"
        stroke="#636b74"
        stroke-width="3"
        fill="none"
      />
    </g>

    <!--  Background layer with all the pads -->
    <g class="pads">
      <circle *ngFor="let p of pads"
        [attr.cx]="p.opt_cx"
        [attr.cy]="p.opt_cy"
        [attr.data]="p.name"
        r="5"
        stroke="#636b74"
        stroke-width="3"
        fill="#212d3a"
      />
    </g>

    <!--  Pads by antenna group -->
    <g class="pads-morita-inner" [ngClass]="{'selected': isSelected('MeteoCentral')}">
      <circle *ngFor="let p of this.morita_and_inner_pads"
        [attr.cx]="p.opt_cx"
        [attr.cy]="p.opt_cy"
        [attr.data]="p.name"
        r="5"
        stroke="#636b74"
        stroke-width="3"
        fill="#212d3a"
      />
    </g>
    <g class="pads-p-arm" [ngClass]="{'selected': isSelected('Meteo410')}">
      <circle *ngFor="let p of this.p_arm_pads"
        [attr.cx]="p.opt_cx"
        [attr.cy]="p.opt_cy"
        [attr.data]="p.name"
        r="5"
        stroke="#636b74"
        stroke-width="3"
        fill="#212d3a"
      />
    </g>
    <g class="pads-s-arm" [ngClass]="{'selected': isSelected('Meteo309')}">
      <circle *ngFor="let p of this.s_arm_pads"
        [attr.cx]="p.opt_cx"
        [attr.cy]="p.opt_cy"
        [attr.data]="p.name"
        r="5"
        stroke="#636b74"
        stroke-width="3"
        fill="#212d3a"
      />
    </g>
    <g class="pads-w-arm" [ngClass]="{'selected': isSelected('Meteo201')}">
      <circle *ngFor="let p of this.w_arm_pads"
        [attr.cx]="p.opt_cx"
        [attr.cy]="p.opt_cy"
        [attr.data]="p.name"
        r="5"
        stroke="#636b74"
        stroke-width="3"
        fill="#212d3a"
      />
    </g>

    <!--  Weather stations -->

    <!--  Weather stations:  primary group -->
    <g class="ws-primary-group" *ngFor="let p of primary_wstations" (click)="onClick(p)">
      <path class="ws-connector"
        [attr.d]="getSVGVirtualConnectorPath(p, 125, -50)"
        stroke="#39505f"
        stroke-width="3"
        fill="none"
      />
      <foreignObject [attr.x]="p.opt_cx-25" [attr.y]="p.opt_cy-25" width="100" height="50">
        <xhtml:app-weather-marker-map [placemark]="p.name"></xhtml:app-weather-marker-map>
      </foreignObject>
      <foreignObject class="fobject" [attr.x]="(p.opt_cx-50) + 125" [attr.y]="(p.opt_cy-50) - 25" width="200" height="100">
        <xhtml:app-weather-data-map [placemark]="p.name"></xhtml:app-weather-data-map>
      </foreignObject>
    </g>

    <!--  Weather stations:  backup group -->
    <g class="ws-backup-group" *ngFor="let p of backup_wstations">
      <!-- <foreignObject [attr.x]="p.opt_cx-25" [attr.y]="p.opt_cy-25" width="50" height="50">
        <xhtml:app-weather-marker-map></xhtml:app-weather-marker-map>
      </foreignObject> -->
    </g>

  </svg>

</div>
