<div> Map Sandbox </div>
<div>

  <svg [attr.viewBox]="viewbox" class="ws-map">

    <!--  Route paths -->
    <g class="paths">
      <path *ngFor="let path of svgPaths"
        [attr.d]="path"
        stroke="#636b74"
        stroke-width="3"
        fill="none"
      />
    </g>

    <!--  Background layer with all the pads -->
    <g class="pads">
      <circle *ngFor="let p of pads"
        [attr.cx]="p.opt_cx"
        [attr.cy]="p.opt_cy"
        [attr.data]="p.name"
        r="5"
        stroke="#636b74"
        stroke-width="3"
        fill="#212d3a"
      />
    </g>

    <!--  Pads by antenna group -->
    <g class="pads-morita-inner" [ngClass]="{'selected': this.antennaGroupsDisplay['MORITA_AND_INNER']['selected'] === true}">
      <circle *ngFor="let p of this.morita_and_inner_pads"
        [attr.cx]="p.opt_cx"
        [attr.cy]="p.opt_cy"
        [attr.data]="p.name"
        r="5"
        stroke="#636b74"
        stroke-width="3"
        fill="#212d3a"
      />
    </g>
    <g class="pads-p-arm" [ngClass]="{'selected': this.antennaGroupsDisplay['P_ARM']['selected'] === true}">
      <circle *ngFor="let p of this.p_arm_pads"
        [attr.cx]="p.opt_cx"
        [attr.cy]="p.opt_cy"
        [attr.data]="p.name"
        r="5"
        stroke="#636b74"
        stroke-width="3"
        fill="#212d3a"
      />
    </g>
    <g class="pads-s-arm" [ngClass]="{'selected': this.antennaGroupsDisplay['S_ARM']['selected'] === true}">
      <circle *ngFor="let p of this.s_arm_pads"
        [attr.cx]="p.opt_cx"
        [attr.cy]="p.opt_cy"
        [attr.data]="p.name"
        r="5"
        stroke="#636b74"
        stroke-width="3"
        fill="#212d3a"
      />
    </g>
    <g class="pads-w-arm" [ngClass]="{'selected': this.antennaGroupsDisplay['W_ARM']['selected'] === true}">
      <circle *ngFor="let p of this.w_arm_pads"
        [attr.cx]="p.opt_cx"
        [attr.cy]="p.opt_cy"
        [attr.data]="p.name"
        r="5"
        stroke="#636b74"
        stroke-width="3"
        fill="#212d3a"
      />
    </g>

    <!--  Weather stations -->

    <!--  Weather stations:  primary group -->
    <g class="ws-primary-group" *ngFor="let p of primary_wstations" (click)="updateAntennaGroupsDisplay(p)">
      <path class="ws-connector"
        [attr.d]="getSVGVirtualConnectorPath(p, 125, -50)"
        stroke="#39505f"
        stroke-width="3"
        fill="none"
      />
    </g>

    <!--  Weather stations:  backup group -->
    <g class="ws-backup-group" *ngFor="let p of backup_wstations">
    </g>

  </svg>

</div>
