form {
}

.component-action {
  // position: relative;
  // min-height: 100%;

  &.component-header {
    font-family: 'Arial, Helvetica, sans-serif';
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 14px 0px;

    .component-title {
      display: inline;
    }

  }

  &.component-body {
    background: transparent;
    font-size: 14px;

    .section {
      padding: 24px 0px 10px 0px;

      .section-title {
        font-weight: bold;
        padding-bottom: 16px;
      }

      &.alarm-info {
        table {
          vertical-align: top;
        }

        th {
          padding-right: 16px;
          font-weight: normal;
        }

        td {
          color: #4ac8ff;
        }
      }

      &.shelve-action {

        textarea {
          min-height: 150px;
        }

        .form-control:focus {
          border: 1px solid #235285;
        }

        .action-info {
          font-size: 14px;
          color: #a4acac;
        }

        .message-form-field {
          width: 100%;
          color: #4ac8ff;
        }

        .timeout-form-field {
          color: #4ac8ff;
          width: 100%;
          margin-top: 14px;
        }

      }

    }

  }

  &.component-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: transparent;
    border-top: 0px solid #000;
    font-size: 14px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    // Fix this properly, in order to make the body scrollable
    padding-bottom: 24px;

    .btn.btn-action {

      cursor: pointer !important;
      margin: 0px 10px 0px 10px;

      &.btn-secondary{
        background-color: #344a5d;
        border-color: #344a5d;
      }

      &.btn-secondary:hover{
        background-color: #9e9e9e !important;
      }

    }

  }

  p {
    margin-top: 0;
    margin-bottom: 1.15rem;
  }

  .info-message {
    padding-top: 10px;
  }

  .alarmUrl {
      color: #4ac8ff !important;
  }

  .alarmUrl .alarmLink {
    text-decoration: underline;
  }

  .close {
    color: lightgray;
  }

}
