<mat-card>
  <div class="component-header">
    <span fxFlex class="header-title" > {{ getTitleText() }} </span>
    <button mat-button class="close" aria-label="Close" aria-hidden="true" (click)="onClose()">
      &times;
    </button>
  </div>

  <!-- BODY begin -->
  <form class="form-group" [formGroup]="form">
    <mat-card-content class="component-body">
      <div class="section alarm-info">
        <table>
          <tr>
            <th>Alarm ID</th>
            <td>{{alarm?.core_id}}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ getAlarmDescription() }}</td>
          </tr>
        </table>
      </div>

      <div *ngIf="requestStatus !== 0; then responseMessage else actionProcess"> </div>

      <ng-template #responseMessage>
        <div class="section shelve-action" >
          <div class="section-title"> {{ getResponseMessageTitle() }} </div>
          <div> {{ getResponseMessageText() }} </div>
        </div>
      </ng-template>

      <!-- SHELVE / UNSHELVE begin -->
      <ng-template #actionProcess>
        <div class="section shelve-action" >
          <div *ngIf="!alarm.shelved; then shelveForm"></div>

          <!-- SHELVE FORM begin -->
          <ng-template #shelveForm>
            <div class="section-title"> Information required to shelve the Alarm </div>

            <mat-form-field class="message-form-field" appearance="fill">
              <mat-label> Reason for shelving </mat-label>
              <textarea matInput name="message" formControlName="message"></textarea>
              <mat-error *ngIf="message.invalid"> You must write a message in order to Shelve </mat-error>
            </mat-form-field>

            <mat-form-field class="timeout-form-field" appearance="fill">
              <mat-label> Time in shelf </mat-label>
                <mat-select formControlName="timeout">
                  <mat-option *ngFor="let timeout of timeouts" [value]="timeout.value">
                    {{timeout.viewValue}}
                  </mat-option>
                </mat-select>
              <mat-error *ngIf="timeout.invalid"> You must select a duration in order to Shelve </mat-error>
            </mat-form-field>
          </ng-template>
        </div>
        <!-- SHELVE FORM end -->

      </ng-template>
      <!-- SHELVE / UNSHELVE end -->
    </mat-card-content>
    <!-- BODY end -->

    <!-- <div class="component-footer"> -->
      <mat-card-actions class="component-footer">
        <div *ngIf="requestStatus !== 0; then responseButtons else actionButtons"> </div>
        <ng-template #responseButtons>
          <button mat-button id="close" type="button" class="btn btn-action btn-secondary" (click)="onClose()">Close</button>
        </ng-template>

        <ng-template #actionButtons>
          <button mat-button id="cancel" type="button" class="btn btn-action btn-secondary" (click)="onClose()">Cancel</button>
          <button mat-button id="send" type="button" class="btn btn-action btn-info" (click)="toggleShelveUnshelve();" [disabled]="!canSend()">{{ getActionButtonText() }}</button>
        </ng-template>
      </mat-card-actions>
    <!-- </div> -->
  </form>
</mat-card>

<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0)"
  size = "large"
  color = "#fff"
  type = "ball-clip-rotate"
></ngx-spinner>
