<div class="component-action component-header">
  <h4 class="component-title"> ALARM SHELVING </h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form class="form-group" [formGroup]="form">
  <div class="component-action component-body">
    <div class="section alarm-info">
      <p>{{ getAlarmDescription() }} </p>
      <p>
        <a class="alarmUrl" target="_blank" href="{{ getAlarmUrl() }}">
          <span class="alarmLink">Go to wiki</span>&nbsp;<i class="ion-md-open"></i>
        </a>
      </p>
    </div>
    <div class="section shelve-action">
      <div *ngIf="!alarm.shelved; then shelveForm"></div>
      <ng-template #shelveForm>
        <textarea name="message" class="form-control" formControlName="message" placeholder="Write a message to explain why the alarm is being shelved"></textarea>
        <div class="action-info">
          * The shelve button will be enabled after writing the message
        </div>
      </ng-template>
    </div>
  </div>
  <div class="component-action component-footer">
    <button id="cancel" type="button" class="btn btn-action btn-secondary" (click)="close()">Cancel</button>
    <button id="send" type="button" class="btn btn-action btn-info" (click)="toggleShelveUnshelve();" [disabled]="!canSend()">{{ getActionButtonText() }}</button>
  </div>
</form>
