<button mat-icon-button color="accent" class="shelve-button" title="{{ getButtonTooltipText() }}" [disabled]="isDisabled()" (click)="onClick($event)">
    <div *ngIf="alarm?.shelved; then unshelveIcon; else shelveIcon"></div>
    <ng-template #shelveIcon>
      <div class="shelve-button-icon"> <img src="/assets/img/shelve.svg"/> </div>
    </ng-template>
    <ng-template #unshelveIcon>
      <div class="shelve-button-icon"> <img src="/assets/img/unshelve.svg"/> </div>
    </ng-template>
</button>
