.shelve-button {
  color: #4ac8ff;
  border: 0;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  outline: none;
  background-color: unset !important;
  min-width: unset !important;
  box-shadow: none !important;
}

button.shelve-button:disabled {
    color: #212d3a;
}
