<button mat-flat-button color="accent" class="shelve-button" title="{{ getButtonTooltipText() }}" [disabled]="isDisabled()" (click)="onClick()">
    <div *ngIf="alarm?.shelved; then unshelveIcon; else shelveIcon"></div>
    <ng-template #shelveIcon>
      <div class="shelve-button-icon"> <img src="/assets/img/shelve-btn-icon.svg"/> </div>
    </ng-template>
    <ng-template #unshelveIcon>
      <div class="shelve-button-icon"> <img src="/assets/img/unshelve-btn-icon.svg"/> </div>
    </ng-template>
</button>
