@mixin action-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .component-action {

    &.component-header {
      border-bottom-color: mat-color($foreground, divider);
    }

    &.component-body .section {
      &.missed-acks {
        border-top-color: mat-color($foreground, divider);
      }

      &.action-error {
        background: mat-color($warn, A700);
      }

      &.action-warning {
        background: mat-color($background, warning);
        color: map_get($primary, 600);
      }

      &.ack-action {
        border-top-color: mat-color($foreground, divider);
      }

      &.shelve-action {
        border-top-color: mat-color($foreground, divider);
      }
    }
  }

  .mat-icon-button.mat-accent[disabled] {
    color: mat-color($background, background);
  }

}
