@mixin action-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .component-action {

    &.component-header {
      border-bottom: 1px solid mat-color($foreground, divider);
    }

    &.component-body .section {
      &.missed-acks {
        border-top: 1px solid mat-color($foreground, divider);
      }

      &.alarm-info {
        td {
          color: mat-color($foreground, hint-text);
        }
      }
    }

  }

}
