.antennas-sidebar-card {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .antennas-sidebar-title {
    padding: 12px 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    .return-link {
      cursor: pointer;

      i {
        vertical-align: middle;
        font-size: 25px;
      }

      span {
        vertical-align: middle;
      }
    }
  }

  .antennas-sidebar-content {
    padding: 12px 0px;
    height: 100%;
    overflow-y: auto;

    .antennas-container {
      margin: 6px 0px;

      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        .grid-item {
          height: 60px;
          line-height: 62px;
          border-radius: 4px;
          padding: 0;
          position: relative;
          cursor: pointer;
        }

      }

    }

    .antennas-detail {

      margin-left: 28px;
      margin-right: 28px;

      &.alarm-info {
        padding-bottom: 10px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgba(255, 255, 255, 0.12);

        table {
          vertical-align: top;
        }

        th {
          padding-right: 16px;
          font-weight: normal;
        }
      }

      &.devices-alarms {

        padding-top: 20px;

        table {
            width: 100%;
        }

        td {
          padding: 5px;
          height: 40px;

          &.antenna {
            padding-left: 0px;
            font-weight: bold;
            width: 25%;
          }

          &.device {
            padding-left: 20px;
            font-weight: bold;
            width: 25%;
          }
        }
        .icon {
          padding-left: 20px;
          height: 30px;
          width: fit-content;
          align: right;
        }
        .status {
          padding-left: 20px;
        }
        .buttons {
          width: 60%;
        }
      }

      &.footer {
        width: 100%;
        font-size: 14px;
        display: table;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;

        button {
          margin: 0px 10px 0px 10px;
        }
      }
    }

  }
}
