<div class="antennas-sidebar-card">
  <!-- TITLE -->
  <div class="antennas-sidebar-title">
    <div *ngIf="this.selectedAntenna == null; then antennasTitle else returnLink"></div>
  </div>

  <!-- CONTENT -->
  <div class="antennas-sidebar-content">
    <div *ngIf="this.selectedAntenna == null; then antennasList else antennasDetail"> </div>
  </div>
</div>

<!-- Title when there is not a selected antenna -->
<ng-template #antennasTitle>
  <span> ANTENNAS </span>
</ng-template>

<!-- Title when one antenna is selected -->
<ng-template #returnLink>
    <div class="return-link" (click)="unselectAntenna()"> <i class="material-icons">chevron_left</i> <span> {{alarmService.getName(this.selectedAntenna)}} </span> </div>
</ng-template>

<!-- Content when there is not a selected antenna -->
<ng-template #antennasList>
  <div class="antennas-container">
    <div class="grid-container">
      <div class="grid-item" *ngFor="let antennaConfig of getAntennas()" (click)="onClick(antennaConfig)">
        <app-alarm-card
          fxFlex
          [alarm]="alarmService.getAlarm(antennaConfig)"
          [alarmNameMaxSize]="4"
          [optionalAlarmName]="alarmService.getName(antennaConfig)"
          [tooltipDirection]="'left'"
        ></app-alarm-card>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="antennas-detail devices-alarms">
    <table>
      <ng-container *ngFor="let device of getDevices()">
        <tr>
          <td class="antenna">
            <div class="text">
              <app-alarm [alarm]="alarmService.getAlarm(device)" [text]="alarmService.getName(device)"></app-alarm>
            </div>
          </td>
          <td>
            <div class="status">
              <app-status-view [alarm]="alarmService.getAlarm(device)" [showActionBadges]="false"></app-status-view>
            </div>
          </td>
          <td class="buttons" align="right">
            <app-buttons [alarm]="alarmService.getAlarm(device)"></app-buttons>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</ng-template>

<!-- Content when one antenna is selected -->
<ng-template #antennasDetail>
  <div class="antennas-detail alarm-info">
    <div class="alarm-data">
      <table>
        <tr>
          <th class="header">Alarm ID</th>
          <td>{{this.selectedAntenna.alarm_id}}</td>
        </tr>
        <tr>
          <th class="header">Antenna (Pad)</th>
          <td>{{this.alarmService.getName(selectedAntenna)}} ({{this.selectedAntenna.placemark}})</td>
        </tr>
      </table>
    </div>
    <div class="alarm-buttons">
      <app-buttons [alarm]="alarmService.getAlarm(this.selectedAntenna.alarm_id)"></app-buttons>
    </div>
  </div>

  <div class="antennas-detail subalarms">
    <div class="subalarms-header">
      Antenna devices alarms
    </div>
    <app-table
      [displayedColumns] = "['status', 'name', 'mode', 'actions']"
      [alarmsToDisplay] = "this.getConfigChildrenAlarmIds(this.selectedAntenna)"
      [pageSizeOptions] = "[12, 25, 50, 100]"
    >
    </app-table>
  </div>
</ng-template>
