<div class="antennas-sidebar-card">
  <!-- TITLE -->
  <div class="antennas-sidebar-title">
    <div *ngIf="this.selectedAntenna == null; then antennasTitle else returnLink"></div>
  </div>

  <!-- CONTENT -->
  <div class="antennas-sidebar-content">
    <div *ngIf="this.selectedAntenna == null; then antennasList else antennasDetail"> </div>
  </div>
</div>

<!-- Title when there is not a selected antenna -->
<ng-template #antennasTitle>
  <span> ANTENNAS </span>
</ng-template>

<!-- Title when one antenna is selected -->
<ng-template #returnLink>
    <div class="return-link" (click)="unselectAntenna()"> <i class="material-icons">chevron_left</i> <span> {{getAntennaName(this.selectedAntenna)}} </span> </div>
</ng-template>

<!-- Content when there is not a selected antenna -->
<ng-template #antennasList>
  <div class="antennas-container">
    <div class="grid-container">
      <ng-container *ngFor="let group of getAntennasGroups()">
        <div class="grid-item" *ngFor="let antennaConfig of getAntennasByGroup(group)" (click)="onClick(antennaConfig)">
          <app-alarm-header fxFlex [alarm]="this.getAlarm(antennaConfig.alarm)" [alarmNameMaxSize]="4" [optionalAlarmName]="getAntennaName(antennaConfig)"></app-alarm-header>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

<!-- Content when one antenna is selected -->
<ng-template #antennasDetail>
  <div class="antennas-detail alarm-info">
    <table>
      <tr>
        <th>Alarm ID</th>
        <td>{{this.selectedAntenna.alarm}}</td>
      </tr>
      <tr>
        <th>Antenna</th>
        <td>{{this.selectedAntenna.antenna}}</td>
      </tr>
      <tr>
        <th>Location (PAD)</th>
        <td>{{this.selectedAntenna.placemark}}</td>
      </tr>
    </table>
  </div>

  <div class="antennas-detail devices-alarms">
    <table>
      <tr>
        <td class="antenna">Antenna</td>
        <td>
          <div class="status">
            <app-status-view [alarm]="this.getAlarm(this.selectedAntenna.alarm)" [showActionBadges]="false"></app-status-view>
          </div>
        </td>
        <td class="buttons" align="right">
          <app-buttons [alarm]="this.getAlarm(this.selectedAntenna.alarm)"></app-buttons>
        </td>
      </tr>
      <tr>
        <td class="device">Fire</td>
        <td>
          <div class="status">
            <app-status-view [alarm]="this.getAlarm(this.selectedAntenna.fire)" [showActionBadges]="false"></app-status-view>
          </div>
        </td>
        <td class="buttons" align="right">
          <app-buttons [alarm]="this.getAlarm(this.selectedAntenna.fire)"></app-buttons>
        </td>
      </tr>
      <tr>
        <td class="device">Fire Malfunction</td>
        <td>
          <div class="status">
            <app-status-view [alarm]="this.getAlarm(this.selectedAntenna.fire_malfunction)" [showActionBadges]="false"></app-status-view>
          </div>
        </td>
        <td class="buttons" align="right">
          <app-buttons [alarm]="this.getAlarm(this.selectedAntenna.fire_malfunction)"></app-buttons>
        </td>
      </tr>
      <tr>
        <td class="device">UPS Failure</td>
        <td>
          <div class="status">
            <app-status-view [alarm]="this.getAlarm(this.selectedAntenna.ups)" [showActionBadges]="false"></app-status-view>
          </div>
        </td>
        <td class="buttons" align="right">
          <app-buttons [alarm]="this.getAlarm(this.selectedAntenna.ups)"></app-buttons>
        </td>
      </tr>
      <tr>
        <td class="device">HVAC Failure </td>
        <td>
          <div class="status">
            <app-status-view [alarm]="this.getAlarm(this.selectedAntenna.hvac)" [showActionBadges]="false"></app-status-view>
          </div>
        </td>
        <td class="buttons" align="right">
          <app-buttons [alarm]="this.getAlarm(this.selectedAntenna.hvac)"></app-buttons>
        </td>
      </tr>
      <tr>
        <td class="device">Power Cut</td>
        <td>
          <div class="status">
            <app-status-view [alarm]="this.getAlarm(this.selectedAntenna.power)" [showActionBadges]="false"></app-status-view>
          </div>
        </td>
        <td class="buttons" align="right">
          <app-buttons [alarm]="this.getAlarm(this.selectedAntenna.power)"></app-buttons>
        </td>
      </tr>
    </table>
  </div>
</ng-template>
