@mixin alarm-info-theme($theme) {

  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .alarm-info {
    td {
      color: mat-color($foreground, hint-text);
    }
    pre {
      color: mat-color($foreground, hint-text);
    }

    .props-container {
      th {
        color: mat-color($foreground, hint-text);
      }
      td {
        color: mat-color($foreground, hint-text);
      }
      pre {
        color: mat-color($foreground, hint-text);
      }
    }
  }

}
