.alarm-info {
  table {
    vertical-align: top;
    width: 450px;
  }

  th {
    padding-right: 16px;
    font-weight: normal;
    vertical-align: top;
    width: 120px;
  }

  .props-container {
    font-size: 90%;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 330px;
    max-height: 400px;

    ul {
      padding: 0;
      margin: 0 0 0 1.1em;
    }
  }


  pre {
    padding-top: 3px;
    font-size: 90%;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0px;
    max-width: 330px;
    max-height: 400px;
  }

}
