.alarm-info {
  table {
    vertical-align: top;
    width: 450px;
  }

  th {
    padding-right: 16px;
    font-weight: normal;
    vertical-align: top;
    width: 120px;
  }

  .props-container {
    padding: 10px 0 0 0;

    .props-table-container {
      font-size: 90%;
      overflow-y: auto;
      overflow-x: auto;
    }
  }


  pre {
    padding-top: 3px;
    font-size: 90%;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0px;
    max-width: 330px;
    max-height: 400px;
  }

}
