.section {
  padding: 24px 0px 10px 0px;

  &.alarm-info {
    table {
      vertical-align: top;
      width: 450px;
    }

    th {
      padding-right: 16px;
      font-weight: normal;
      vertical-align: top;
      width: 120px;
    }

    pre {
      padding-top: 3px;
      font-size: 90%;
      overflow-y: auto;
      overflow-x: auto;
      max-height: 130px;
      margin: 0px;
      max-width: 330px;
      max-height: 400px;
    }

  }
}
