.box-alarm {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
  width: 500px;
  color: white;
  background: green;
  word-break: break-all;
  text-align:center;
}

.box-alarm > .box-alarm-title {
  font-weight:bold;
}

.box-alarm > .box-alarm-body {
  padding-top:10px;
}

th {
  line-height: 1.75em;
  text-align: center;
}

td {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.5em;
}

table.alarms {
  color: white;  
  width: 100%;
}

.alarm-minibox {
  font-size: 24px;
}
