<table>
  <thead>
    <tr>
      <th> Timestamp </th>
      <th> Core ID </th>
      <th> Value </th>
      <th> Mode </th>
      <th> Validity </th>
    </tr>
  </thead>
  <tbody *ngFor="let pk of alarmPks">
    <tr [style.background]="getAlarmColor(alarmService.alarms[pk])">
      <td>
        {{ alarmService.alarms[pk].getCoreTimestampAsDate() }}
      </td>
      <td>
        {{ alarmService.alarms[pk].core_id }}
      </td>
      <td>
        {{ alarmService.alarms[pk].getValueAsString() }}
      </td>
      <td>
        {{ alarmService.alarms[pk].getModeAsString() }}
      </td>
      <td>
        {{ alarmService.alarms[pk].getValidityAsString() }}
      </td>
    </tr>
  </tbody>
</table>
